{
  "openapi": "3.1.0",
  "info": {
    "title": "API de Docta Capital",
    "description": "API para acceder a datos de mercado y servicios financieros de Docta Capital",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.doctacapital.com.ar"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/api/v1/auth/token": {
      "post": {
        "description": "Obtener un token de acceso usando credenciales de cliente para la autenticación de la API",
        "tags": ["Autenticación"],
        "requestBody": {
          "description": "Credenciales de cliente para autenticación",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuthRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Token de acceso obtenido exitosamente",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthResponse"
                }
              }
            }
          },
          "401": {
            "description": "Credenciales de cliente inválidas",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "400": {
            "description": "Solicitud incorrecta - parámetros inválidos",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/market_data/historicals/prices/{symbol}": {
      "get": {
        "description": "Obtener datos de precios históricos para un instrumento financiero específico durante un rango de fechas determinado",
        "tags": ["Datos de Mercado"],
        "parameters": [
          {
            "name": "symbol",
            "in": "path",
            "description": "El símbolo ticker o identificador del instrumento financiero",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "PAGS"
          },
          {
            "name": "from_date",
            "in": "query",
            "description": "Fecha de inicio para los datos históricos en formato YYYY-MM-DD",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "example": "2025-06-01"
          },
          {
            "name": "to_date",
            "in": "query",
            "description": "Fecha de fin para los datos históricos en formato YYYY-MM-DD",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "example": "2025-06-15"
          },
          {
            "name": "adjusted",
            "in": "query",
            "description": "Si devolver precios ajustados por eventos corporativos",
            "required": true,
            "schema": {
              "type": "boolean"
            },
            "example": false
          }
        ],
        "responses": {
          "200": {
            "description": "Datos de precios históricos obtenidos exitosamente",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HistoricalPricesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Solicitud incorrecta - parámetros inválidos",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "No autorizado - token de acceso inválido o faltante",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Símbolo no encontrado o no hay datos disponibles",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/market_data/bonds/{symbol}/cashflow": {
      "get": {
        "description": "Obtener el cronograma de flujo de caja para un bono específico, mostrando todos los pagos futuros incluyendo capital e intereses",
        "tags": ["Bonos"],
        "parameters": [
          {
            "name": "symbol",
            "in": "path",
            "description": "El símbolo del bono",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "AL30"
          },
          {
            "name": "nominal_units",
            "in": "query",
            "description": "Unidades nominales para el cálculo",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "example": 100
          }
        ],
        "responses": {
          "200": {
            "description": "Bond cashflow data successfully retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BondCashflowResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing access token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Bond not found or no cashflow data available",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/market_data/historicals/yield-curve": {
      "get": {
        "description": "Obtener datos históricos o intradiarios de curva de rendimiento para una fecha específica y clase de subactivo, mostrando tasas de interés a través de diferentes vencimientos",
        "tags": ["Datos de Mercado"],
        "parameters": [
          {
            "name": "date",
            "in": "query",
            "description": "Fecha histórica específica en formato YYYY-MM-DD",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "example": "2025-01-02"
          },
          {
            "name": "subasset_class",
            "in": "query",
            "description": "La clasificación de submercado para los datos de curva de rendimiento",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "DOLLAR_LINKED",
                "HARD_DOLLAR",
                "CER",
                "BOPREAL",
                "FIXED_RATE",
                "SUB_SOBERANO",
                "ON",
                "TAMAR",
                "BADLAR",
                "ON_FIXED_RATE",
                "ON_CER",
                "ON_BADLAR",
                "ON_TAMAR",
                "ON_DOLLAR_LINKED",
                "SUB_SOBERANO_FIXED_RATE",
                "SUB_SOBERANO_CER",
                "SUB_SOBERANO_BADLAR",
                "SUB_SOBERANO_TAMAR"
              ]
            },
            "example": "HARD_DOLLAR"
          },
          {
            "name": "specie",
            "in": "query",
            "description": "Especie de moneda. Usar 'D' para Dólar (opcional)",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["D"]
            },
            "example": "D"
          }
        ],
        "responses": {
          "200": {
            "description": "Datos de curva de rendimiento históricos obtenidos exitosamente",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/YieldCurveResponse"
                }
              }
            }
          },
          "400": {
            "description": "Solicitud incorrecta - parámetros inválidos",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "No autorizado - token de acceso inválido o faltante",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Datos de curva de rendimiento no encontrados",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/plants": {
      "get": {
        "description": "Returns all plants from the system that the user has access to",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of results to return",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Plant response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Plant"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "description": "Creates a new plant in the store",
        "requestBody": {
          "description": "Plant to add to the store",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewPlant"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "plant response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Plant"
                }
              }
            }
          },
          "400": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/plants/{id}": {
      "delete": {
        "description": "Deletes a single plant based on the ID supplied",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of plant to delete",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Plant deleted",
            "content": {}
          },
          "400": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "webhooks": {
    "/plant/webhook": {
      "post": {
        "description": "Information about a new plant added to the store",
        "requestBody": {
          "description": "Plant added to the store",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewPlant"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Return a 200 status to indicate that the data was received successfully"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "AuthRequest": {
        "required": [
          "grant_type",
          "client_id",
          "client_secret",
          "scope"
        ],
        "type": "object",
        "properties": {
          "grant_type": {
            "description": "El tipo de concesión OAuth 2.0. Debe establecerse en client_credentials",
            "type": "string",
            "enum": ["client_credentials"]
          },
          "client_id": {
            "description": "Tu identificador de cliente proporcionado por Docta Capital",
            "type": "string"
          },
          "client_secret": {
            "description": "Tu secreto de cliente proporcionado por Docta Capital",
            "type": "string"
          },
          "scope": {
            "description": "El alcance de acceso solicitado",
            "type": "string",
            "example": "market_data:read"
          }
        }
      },
      "AuthResponse": {
        "required": [
          "access_token",
          "token_type",
          "expires_in",
          "scope"
        ],
        "type": "object",
        "properties": {
          "access_token": {
            "description": "El token de acceso a ser usado para solicitudes posteriores de la API",
            "type": "string"
          },
          "token_type": {
            "description": "El tipo de token. Será Bearer",
            "type": "string",
            "enum": ["Bearer"]
          },
          "expires_in": {
            "description": "El número de segundos hasta que el token expire",
            "type": "integer"
          },
          "scope": {
            "description": "El alcance de acceso otorgado por este token",
            "type": "string"
          }
        }
      },
      "HistoricalPricesResponse": {
        "required": [
          "symbol",
          "data",
          "adjusted",
          "from_date",
          "to_date"
        ],
        "type": "object",
        "properties": {
          "symbol": {
            "description": "El símbolo ticker del instrumento solicitado",
            "type": "string",
            "example": "PAGS"
          },
          "data": {
            "description": "Array de puntos de datos de precios históricos",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PriceDataPoint"
            }
          },
          "adjusted": {
            "description": "Si los precios están ajustados por eventos corporativos",
            "type": "boolean",
            "example": false
          },
          "from_date": {
            "description": "La fecha de inicio del rango de datos solicitado",
            "type": "string",
            "format": "date",
            "example": "2025-06-01"
          },
          "to_date": {
            "description": "La fecha de fin del rango de datos solicitado",
            "type": "string",
            "format": "date",
            "example": "2025-06-15"
          }
        }
      },
      "PriceDataPoint": {
        "required": [
          "date",
          "open",
          "high",
          "low",
          "close",
          "volume"
        ],
        "type": "object",
        "properties": {
          "date": {
            "description": "La fecha de los datos de precio en formato YYYY-MM-DD",
            "type": "string",
            "format": "date",
            "example": "2025-06-01"
          },
          "open": {
            "description": "Precio de apertura del día",
            "type": "number",
            "format": "float",
            "example": 1250.50
          },
          "high": {
            "description": "Precio más alto durante el día",
            "type": "number",
            "format": "float",
            "example": 1280.75
          },
          "low": {
            "description": "Precio más bajo durante el día",
            "type": "number",
            "format": "float",
            "example": 1245.25
          },
          "close": {
            "description": "Precio de cierre del día",
            "type": "number",
            "format": "float",
            "example": 1275.00
          },
          "volume": {
            "description": "Volumen de negociación del día",
            "type": "integer",
            "format": "int64",
            "example": 1500000
          }
        }
      },
      "BondCashflowResponse": {
        "required": [
          "symbol",
          "nominal_units",
          "cashflow",
          "total_interest",
          "total_principal",
          "total_amount"
        ],
        "type": "object",
        "properties": {
          "symbol": {
            "description": "El símbolo del bono solicitado",
            "type": "string",
            "example": "AL30"
          },
          "nominal_units": {
            "description": "Las unidades nominales utilizadas para el cálculo",
            "type": "integer",
            "example": 100
          },
          "cashflow": {
            "description": "Array de eventos de flujo de caja para el bono",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CashflowEvent"
            }
          },
          "total_interest": {
            "description": "Total de pagos de intereses durante la vida del bono",
            "type": "number",
            "format": "float",
            "example": 2500.00
          },
          "total_principal": {
            "description": "Total de pagos de capital durante la vida del bono",
            "type": "number",
            "format": "float",
            "example": 100000.00
          },
          "total_amount": {
            "description": "Monto total del flujo de caja durante la vida del bono",
            "type": "number",
            "format": "float",
            "example": 102500.00
          }
        }
      },
      "CashflowEvent": {
        "required": [
          "date",
          "type",
          "amount",
          "currency",
          "description"
        ],
        "type": "object",
        "properties": {
          "date": {
            "description": "La fecha de pago en formato YYYY-MM-DD",
            "type": "string",
            "format": "date",
            "example": "2025-03-31"
          },
          "type": {
            "description": "El tipo de pago",
            "type": "string",
            "enum": ["interest", "principal", "amortization"],
            "example": "interest"
          },
          "amount": {
            "description": "El monto del pago en la moneda del bono",
            "type": "number",
            "format": "float",
            "example": 1250.00
          },
          "currency": {
            "description": "La moneda del pago",
            "type": "string",
            "example": "ARS"
          },
          "description": {
            "description": "Descripción del pago",
            "type": "string",
            "example": "Interest Payment"
          }
        }
      },
      "YieldCurveResponse": {
        "required": [
          "date",
          "subasset_class",
          "yield_curve"
        ],
        "type": "object",
        "properties": {
          "date": {
            "description": "La fecha histórica para la cual se obtuvieron los datos de curva de rendimiento",
            "type": "string",
            "format": "date",
            "example": "2025-01-02"
          },
          "subasset_class": {
            "description": "La clasificación de submercado utilizada para la consulta",
            "type": "string",
            "example": "HARD_DOLLAR"
          },
          "specie": {
            "description": "La especie de moneda utilizada para la consulta",
            "type": "string",
            "example": "D"
          },
          "yield_curve": {
            "description": "Array de puntos de datos de curva de rendimiento con diferentes vencimientos",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/YieldCurvePoint"
            }
          }
        }
      },
      "YieldCurvePoint": {
        "required": [
          "maturity",
          "yield",
          "currency",
          "maturity_days"
        ],
        "type": "object",
        "properties": {
          "maturity": {
            "description": "El período de vencimiento",
            "type": "string",
            "example": "1Y"
          },
          "yield": {
            "description": "La tasa de rendimiento para el período de vencimiento específico",
            "type": "number",
            "format": "float",
            "example": 15.8
          },
          "currency": {
            "description": "La moneda de la tasa de rendimiento",
            "type": "string",
            "example": "USD"
          },
          "maturity_days": {
            "description": "El período de vencimiento en días",
            "type": "integer",
            "example": 365
          }
        }
      },
      "Plant": {
        "required": [
          "name"
        ],
        "type": "object",
        "properties": {
          "name": {
            "description": "The name of the plant",
            "type": "string"
          },
          "tag": {
            "description": "Tag to specify the type",
            "type": "string"
          }
        }
      },
      "NewPlant": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Plant"
          },
          {
            "required": [
              "id"
            ],
            "type": "object",
            "properties": {
              "id": {
                "description": "Identification number of the plant",
                "type": "integer",
                "format": "int64"
              }
            }
          }
        ]
      },
      "Error": {
        "required": [
          "type",
          "title",
          "status",
          "detail",
          "correlation_id"
        ],
        "type": "object",
        "properties": {
          "type": {
            "description": "El identificador del tipo de error",
            "type": "string",
            "example": "/errors/authentication-required"
          },
          "title": {
            "description": "Una breve descripción del error",
            "type": "string",
            "example": "Invalid client credentials"
          },
          "status": {
            "description": "El código de estado HTTP",
            "type": "integer",
            "example": 401
          },
          "detail": {
            "description": "Una descripción detallada del error",
            "type": "string",
            "example": "Invalid client credentials"
          },
          "correlation_id": {
            "description": "Un identificador único para rastrear esta solicitud de error",
            "type": "string",
            "format": "uuid",
            "example": "2eb07802-94de-468a-b70f-75a49f3e9516"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}