{
  "openapi": "3.1.0",
  "info": {
    "title": "API de Docta Capital",
    "description": "API para acceder a datos de mercado y servicios financieros de Docta Capital",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.doctacapital.com.ar"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/api/v1/auth/token": {
      "post": {
        "description": "Obtener un token de acceso usando credenciales de cliente para la autenticación de la API",
        "tags": ["Autenticación"],
        "security": [],
        "requestBody": {
          "description": "Credenciales de cliente para autenticación",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuthRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Token de acceso obtenido exitosamente",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthResponse"
                }
              }
            }
          },
          "401": {
            "description": "Credenciales de cliente inválidas",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "400": {
            "description": "Solicitud incorrecta - parámetros inválidos",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/market_data/historicals/prices/{symbol}": {
      "get": {
        "description": "Obtener datos de precios históricos para un instrumento financiero específico durante un rango de fechas determinado",
        "tags": ["Datos de Mercado"],
        "parameters": [
          {
            "name": "symbol",
            "in": "path",
            "description": "El símbolo ticker o identificador del instrumento financiero",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "PAGS"
          },
          {
            "name": "from_date",
            "in": "query",
            "description": "Fecha de inicio para los datos históricos en formato YYYY-MM-DD",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "example": "2025-06-01"
          },
          {
            "name": "to_date",
            "in": "query",
            "description": "Fecha de fin para los datos históricos en formato YYYY-MM-DD",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "example": "2025-06-15"
          },
          {
            "name": "adjusted",
            "in": "query",
            "description": "Si devolver precios ajustados por eventos corporativos",
            "required": true,
            "schema": {
              "type": "boolean"
            },
            "example": false
          }
        ],
        "responses": {
          "200": {
            "description": "Datos de precios históricos obtenidos exitosamente",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HistoricalPricesResponse"
                }
              }
            }
          },
          "500": {
            "description": "Error interno del servidor",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "type": "/errors/internal-server-error",
                  "title": "Internal server error",
                  "status": 500,
                  "detail": "Internal server error",
                  "correlation_id": "6cd1fd05-63e9-4863-832f-d873e58e9d67"
                }
              }
            }
          },
          "401": {
            "description": "No autorizado - token de acceso inválido o faltante",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "type": "/errors/authentication-required",
                  "title": "Authorization header missing",
                  "status": 401,
                  "detail": "Authorization header missing",
                  "correlation_id": "d6e20e07-0580-4e2d-9480-00a68c1ae493"
                }
              }
            }
          },
          "404": {
            "description": "Símbolo/ticker no encontrado o no hay datos disponibles",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "type": "/errors/not-found",
                  "title": "Resource not found: /historicals/PASGS",
                  "status": 404,
                  "detail": "Resource not found: /historicals/PASGS",
                  "correlation_id": "438caef0-f014-4a80-874c-4d0261ff28a3"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/market_data/bonds/{symbol}/cashflow": {
      "get": {
        "description": "Obtener el cronograma de flujo de caja para un bono específico, mostrando todos los pagos futuros incluyendo capital e intereses",
        "tags": ["Bonos"],
        "parameters": [
          {
            "name": "symbol",
            "in": "path",
            "description": "El símbolo del bono",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "AL30"
          },
          {
            "name": "nominal_units",
            "in": "query",
            "description": "Unidades nominales para el cálculo",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "example": 100
          }
        ],
        "responses": {
          "200": {
            "description": "Bond cashflow data successfully retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BondCashflowResponse"
                }
              }
            }
          },
          "500": {
            "description": "Error interno del servidor",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "type": "/errors/internal-server-error",
                  "title": "Internal server error",
                  "status": 500,
                  "detail": "Internal server error",
                  "correlation_id": "6cd1fd05-63e9-4863-832f-d873e58e9d67"
                }
              }
            }
          },
          "401": {
            "description": "No autorizado - token de acceso inválido o faltante",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "type": "/errors/authentication-required",
                  "title": "Authorization header missing",
                  "status": 401,
                  "detail": "Authorization header missing",
                  "correlation_id": "d6e20e07-0580-4e2d-9480-00a68c1ae493"
                }
              }
            }
          },
          "404": {
            "description": "Bono no encontrado o no hay datos de flujo de caja disponibles",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "type": "/errors/not-found",
                  "title": "Resource not found: /bonds/cash_flow",
                  "status": 404,
                  "detail": "Resource not found: /bonds/cash_flow",
                  "correlation_id": "438caef0-f014-4a80-874c-4d0261ff28a3"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/market_data/historicals/yield-curve": {
      "get": {
        "description": "Obtener datos históricos o intradiarios de curva de rendimiento para una fecha específica y clase de subactivo, mostrando tasas de interés a través de diferentes vencimientos",
        "tags": ["Datos de Mercado"],
        "parameters": [
          {
            "name": "date",
            "in": "query",
            "description": "Fecha histórica específica en formato YYYY-MM-DD",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "example": "2025-01-02"
          },
          {
            "name": "subasset_class",
            "in": "query",
            "description": "La clasificación de submercado para los datos de curva de rendimiento",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "DOLLAR_LINKED",
                "HARD_DOLLAR",
                "CER",
                "BOPREAL",
                "FIXED_RATE",
                "SUB_SOBERANO",
                "ON",
                "TAMAR",
                "BADLAR",
                "ON_FIXED_RATE",
                "ON_CER",
                "ON_BADLAR",
                "ON_TAMAR",
                "ON_DOLLAR_LINKED",
                "SUB_SOBERANO_FIXED_RATE",
                "SUB_SOBERANO_CER",
                "SUB_SOBERANO_BADLAR",
                "SUB_SOBERANO_TAMAR"
              ]
            },
            "example": "HARD_DOLLAR"
          },
          {
            "name": "specie",
            "in": "query",
            "description": "Especie de moneda. Usar 'D' para Dólar (opcional)",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["D"]
            },
            "example": "D"
          }
        ],
        "responses": {
          "200": {
            "description": "Datos de curva de rendimiento históricos obtenidos exitosamente",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/YieldCurveResponse"
                }
              }
            }
          },
          "500": {
            "description": "Error interno del servidor",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "type": "/errors/internal-server-error",
                  "title": "Internal server error",
                  "status": 500,
                  "detail": "Internal server error",
                  "correlation_id": "6cd1fd05-63e9-4863-832f-d873e58e9d67"
                }
              }
            }
          },
          "401": {
            "description": "No autorizado - token de acceso inválido o faltante",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "type": "/errors/authentication-required",
                  "title": "Authorization header missing",
                  "status": 401,
                  "detail": "Authorization header missing",
                  "correlation_id": "d6e20e07-0580-4e2d-9480-00a68c1ae493"
                }
              }
            }
          },
          "404": {
            "description": "Subasset type no encontrado o no hay datos disponibles",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "type": "/errors/not-found",
                  "title": "Resource not found: /bonds/tir_curve/historical",
                  "status": 404,
                  "detail": "Resource not found: /bonds/tir_curve/historical",
                  "correlation_id": "438caef0-f014-4a80-874c-4d0261ff28a3"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "AuthRequest": {
        "required": [
          "grant_type",
          "client_id",
          "client_secret",
          "scope"
        ],
        "type": "object",
        "properties": {
          "grant_type": {
            "description": "El tipo de concesión OAuth 2.0. Debe establecerse en client_credentials",
            "type": "string",
            "enum": ["client_credentials"]
          },
          "client_id": {
            "description": "Tu identificador de cliente proporcionado por Docta Capital",
            "type": "string"
          },
          "client_secret": {
            "description": "Tu secreto de cliente proporcionado por Docta Capital",
            "type": "string"
          },
          "scope": {
            "description": "El alcance de acceso solicitado",
            "type": "string",
            "example": "market_data:read"
          }
        }
      },
      "AuthResponse": {
        "required": [
          "access_token",
          "token_type",
          "expires_in",
          "scope"
        ],
        "type": "object",
        "properties": {
          "access_token": {
            "description": "El token de acceso a ser usado para solicitudes posteriores de la API",
            "type": "string"
          },
          "token_type": {
            "description": "El tipo de token. Será Bearer",
            "type": "string",
            "enum": ["Bearer"]
          },
          "expires_in": {
            "description": "El número de segundos hasta que el token expire",
            "type": "integer"
          },
          "scope": {
            "description": "El alcance de acceso otorgado por este token",
            "type": "string"
          }
        }
      },
      "HistoricalPricesResponse": {
        "required": [
          "ticker",
          "data",
          "adjusted",
          "from_date",
          "to_date",
          "pagination",
          "metadata"
        ],
        "type": "object",
        "properties": {
          "ticker": {
            "description": "El símbolo ticker del instrumento solicitado",
            "type": "string",
            "example": "PAGS"
          },
          "data": {
            "description": "Array de puntos de datos de precios históricos",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PriceDataPoint"
            }
          },
          "adjusted": {
            "description": "Si los precios están ajustados por eventos corporativos",
            "type": "boolean",
            "example": false
          },
          "from_date": {
            "description": "La fecha de inicio del rango de datos solicitado",
            "type": "string",
            "format": "date",
            "example": "2025-06-01"
          },
          "to_date": {
            "description": "La fecha de fin del rango de datos solicitado",
            "type": "string",
            "format": "date",
            "example": "2025-06-15"
          },
          "pagination": {
            "description": "Información de paginación para los resultados",
            "$ref": "#/components/schemas/Pagination"
          },
          "metadata": {
            "description": "Metadatos sobre la consulta y los datos",
            "$ref": "#/components/schemas/Metadata"
          }
        }
      },
      "PriceDataPoint": {
        "required": [
          "date",
          "open_price",
          "high_price",
          "low_price",
          "close_price",
          "volume",
          "volume_ars",
          "adjusted"
        ],
        "type": "object",
        "properties": {
          "date": {
            "description": "La fecha de los datos de precio en formato YYYY-MM-DD",
            "type": "string",
            "format": "date",
            "example": "2025-06-01"
          },
          "open_price": {
            "description": "Precio de apertura del día",
            "type": "number",
            "format": "float",
            "example": 3585.0
          },
          "high_price": {
            "description": "Precio más alto durante el día",
            "type": "number",
            "format": "float",
            "example": 3645.0
          },
          "low_price": {
            "description": "Precio más bajo durante el día",
            "type": "number",
            "format": "float",
            "example": 3510.0
          },
          "close_price": {
            "description": "Precio de cierre del día",
            "type": "number",
            "format": "float",
            "example": 3630.0
          },
          "volume": {
            "description": "Volumen de negociación del día en unidades",
            "type": "number",
            "format": "float",
            "example": 97529.0
          },
          "volume_ars": {
            "description": "Volumen de negociación del día en pesos argentinos",
            "type": "number",
            "format": "float",
            "example": 350740945.0
          },
          "adjusted": {
            "description": "Si este punto de datos específico está ajustado por eventos corporativos",
            "type": "boolean",
            "example": false
          }
        }
      },
      "Pagination": {
        "required": [
          "limit",
          "has_next",
          "next_cursor",
          "total_items"
        ],
        "type": "object",
        "properties": {
          "limit": {
            "description": "Límite de elementos por página",
            "type": "integer",
            "example": 200
          },
          "has_next": {
            "description": "Si hay más páginas disponibles",
            "type": "boolean",
            "example": false
          },
          "next_cursor": {
            "description": "Cursor para la siguiente página (null si no hay más páginas)",
            "type": "string",
            "nullable": true,
            "example": null
          },
          "total_items": {
            "description": "Total de elementos disponibles (null si no está disponible)",
            "type": "integer",
            "nullable": true,
            "example": null
          }
        }
      },
      "Metadata": {
        "required": [
          "total_records"
        ],
        "type": "object",
        "properties": {
          "total_records": {
            "description": "Total de registros devueltos en esta respuesta",
            "type": "integer",
            "example": 10
          }
        }
      },
      "BondCashflowResponse": {
        "required": [
          "ticker",
          "nominal_units",
          "payments",
          "total_principal",
          "total_interest",
          "total_cashflow"
        ],
        "type": "object",
        "properties": {
          "ticker": {
            "description": "El símbolo del bono solicitado",
            "type": "string",
            "example": "AL30"
          },
          "nominal_units": {
            "description": "Las unidades nominales utilizadas para el cálculo",
            "type": "number",
            "format": "float",
            "example": 100.0
          },
          "payments": {
            "description": "Array de pagos del flujo de caja para el bono",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BondPayment"
            }
          },
          "total_principal": {
            "description": "Total de pagos de capital durante la vida del bono",
            "type": "number",
            "format": "float",
            "example": 100.0
          },
          "total_interest": {
            "description": "Total de pagos de intereses durante la vida del bono",
            "type": "number",
            "format": "float",
            "example": 9.360138888888889
          },
          "total_cashflow": {
            "description": "Monto total del flujo de caja durante la vida del bono",
            "type": "number",
            "format": "float",
            "example": 105.04013888888889
          }
        }
      },
      "BondPayment": {
        "required": [
          "date",
          "principal",
          "interest",
          "total",
          "remaining_principal"
        ],
        "type": "object",
        "properties": {
          "date": {
            "description": "La fecha de pago en formato YYYY-MM-DD",
            "type": "string",
            "format": "date",
            "example": "2025-01-09"
          },
          "principal": {
            "description": "El monto de capital pagado en esta fecha",
            "type": "number",
            "format": "float",
            "example": 8.0
          },
          "interest": {
            "description": "El monto de intereses pagado en esta fecha",
            "type": "number",
            "format": "float",
            "example": 0.375
          },
          "total": {
            "description": "El monto total pagado en esta fecha (principal + intereses)",
            "type": "number",
            "format": "float",
            "example": 8.36
          },
          "remaining_principal": {
            "description": "El capital restante después de este pago",
            "type": "number",
            "format": "float",
            "example": 88.0
          }
        }
      },
      "CashflowEvent": {
        "required": [
          "date",
          "type",
          "amount",
          "currency",
          "description"
        ],
        "type": "object",
        "properties": {
          "date": {
            "description": "La fecha de pago en formato YYYY-MM-DD",
            "type": "string",
            "format": "date",
            "example": "2025-03-31"
          },
          "type": {
            "description": "El tipo de pago",
            "type": "string",
            "enum": ["interest", "principal", "amortization"],
            "example": "interest"
          },
          "amount": {
            "description": "El monto del pago en la moneda del bono",
            "type": "number",
            "format": "float",
            "example": 1250.00
          },
          "currency": {
            "description": "La moneda del pago",
            "type": "string",
            "example": "ARS"
          },
          "description": {
            "description": "Descripción del pago",
            "type": "string",
            "example": "Interest Payment"
          }
        }
      },
      "YieldCurveResponse": {
        "required": [
          "data",
          "date",
          "filters",
          "metadata"
        ],
        "type": "object",
        "properties": {
          "data": {
            "description": "Array de instrumentos financieros con sus datos de curva de rendimiento",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/YieldCurveInstrument"
            }
          },
          "date": {
            "description": "La fecha histórica para la cual se obtuvieron los datos de curva de rendimiento",
            "type": "string",
            "format": "date",
            "example": "2025-01-02"
          },
          "filters": {
            "description": "Los filtros aplicados a la consulta",
            "$ref": "#/components/schemas/YieldCurveFilters"
          }
        }
      },
      "YieldCurveInstrument": {
        "required": [
          "ticker",
          "specie",
          "subasset_class",
          "maturity_date",
          "tir",
          "tna_30_360",
          "duration",
          "date"
        ],
        "type": "object",
        "properties": {
          "ticker": {
            "description": "El símbolo ticker del instrumento financiero",
            "type": "string",
            "example": "AL29"
          },
          "specie": {
            "description": "La especie de moneda del instrumento",
            "type": "string",
            "example": "D"
          },
          "subasset_class": {
            "description": "La clasificación de submercado del instrumento",
            "type": "string",
            "example": "HARD_DOLLAR"
          },
          "maturity_date": {
            "description": "La fecha de vencimiento del instrumento (null si no aplica)",
            "type": "string",
            "nullable": true,
            "example": null
          },
          "tir": {
            "description": "La Tasa Interna de Retorno (TIR) del instrumento",
            "type": "number",
            "format": "float",
            "example": 0.104657
          },
          "tna_30_360": {
            "description": "La Tasa Nominal Anual calculada con base 30/360 (null si no aplica)",
            "type": "number",
            "format": "float",
            "nullable": true,
            "example": null
          },
          "duration": {
            "description": "La duración del instrumento en años",
            "type": "number",
            "format": "float",
            "example": 2.046129
          },
          "date": {
            "description": "La fecha de los datos en formato YYYY-MM-DD",
            "type": "string",
            "format": "date",
            "example": "2025-01-02"
          }
        }
      },
      "YieldCurveFilters": {
        "required": [
          "specie",
          "subasset_class"
        ],
        "type": "object",
        "properties": {
          "specie": {
            "description": "La especie de moneda utilizada en el filtro",
            "type": "string",
            "example": "D"
          },
          "subasset_class": {
            "description": "La clasificación de submercado utilizada en el filtro",
            "type": "string",
            "example": "HARD_DOLLAR"
          }
        }
      },
      "YieldCurvePoint": {
        "required": [
          "maturity",
          "yield",
          "currency",
          "maturity_days"
        ],
        "type": "object",
        "properties": {
          "maturity": {
            "description": "El período de vencimiento",
            "type": "string",
            "example": "1Y"
          },
          "yield": {
            "description": "La tasa de rendimiento para el período de vencimiento específico",
            "type": "number",
            "format": "float",
            "example": 15.8
          },
          "currency": {
            "description": "La moneda de la tasa de rendimiento",
            "type": "string",
            "example": "USD"
          },
          "maturity_days": {
            "description": "El período de vencimiento en días",
            "type": "integer",
            "example": 365
          }
        }
      },
      "Plant": {
        "required": [
          "name"
        ],
        "type": "object",
        "properties": {
          "name": {
            "description": "The name of the plant",
            "type": "string"
          },
          "tag": {
            "description": "Tag to specify the type",
            "type": "string"
          }
        }
      },
      "NewPlant": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Plant"
          },
          {
            "required": [
              "id"
            ],
            "type": "object",
            "properties": {
              "id": {
                "description": "Identification number of the plant",
                "type": "integer",
                "format": "int64"
              }
            }
          }
        ]
      },
      "Error": {
        "required": [
          "type",
          "title",
          "status",
          "detail",
          "correlation_id"
        ],
        "type": "object",
        "properties": {
          "type": {
            "description": "El identificador del tipo de error",
            "type": "string",
            "example": "/errors/authentication-required"
          },
          "title": {
            "description": "Una breve descripción del error",
            "type": "string",
            "example": "Invalid client credentials"
          },
          "status": {
            "description": "El código de estado HTTP",
            "type": "integer",
            "example": 401
          },
          "detail": {
            "description": "Una descripción detallada del error",
            "type": "string",
            "example": "Invalid client credentials"
          },
          "correlation_id": {
            "description": "Un identificador único para rastrear esta solicitud de error",
            "type": "string",
            "format": "uuid",
            "example": "2eb07802-94de-468a-b70f-75a49f3e9516"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}