{
  "openapi": "3.1.0",
  "info": {
    "title": "API de Bonos de Docta",
    "description": "API centrada en bonos de Argentina: instrumentos, detalle, cashflows y curvas/yields.",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.doctacapital.com.ar"
    }
  ],
  "paths": {
    "/api/v1/auth/token": {
      "post": {
        "description": "Obtener un token de acceso usando credenciales de cliente para la autenticación de la API",
        "tags": [
          "Autenticación"
        ],
        "security": [],
        "requestBody": {
          "description": "Credenciales de cliente para autenticación",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuthRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Token de acceso obtenido exitosamente",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthResponse"
                }
              }
            }
          },
          "401": {
            "description": "Credenciales de cliente inválidas",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "400": {
            "description": "Solicitud incorrecta - parámetros inválidos",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/bonds/analytics/{symbol}/cashflow": {
      "get": {
        "description": "Obtener el flujo de caja de un bono específico, incluyendo todos los pagos de capital e intereses",
        "tags": [
          "Bonds"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "symbol",
            "in": "path",
            "description": "El símbolo del bono",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "AL30"
          },
          {
            "name": "nominal_units",
            "in": "query",
            "description": "Unidades nominales para el cálculo",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "example": 100
          }
        ],
        "responses": {
          "200": {
            "description": "Bond cashflow data successfully retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CashflowResponse"
                }
              }
            }
          },
          "401": {
            "description": "No autorizado - token de acceso inválido o faltante",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "type": "/errors/authentication-required",
                  "title": "Authorization header missing",
                  "status": 401,
                  "detail": "Authorization header missing",
                  "correlation_id": "d6e20e07-0580-4e2d-9480-00a68c1ae493"
                }
              }
            }
          },
          "404": {
            "description": "Ticker no encontrado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "type": "/errors/not-found",
                  "title": "Resource not found",
                  "status": 404,
                  "detail": "Ticker not found"
                }
              }
            }
          },
          "500": {
            "description": "Error interno del servidor",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "type": "/errors/internal-server-error",
                  "title": "Internal server error",
                  "status": 500,
                  "detail": "Internal server error",
                  "correlation_id": "6cd1fd05-63e9-4863-832f-d873e58e9d67"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/bonds/analytics/{symbol}/cashflows/residual-value": {
      "get": {
        "description": "Obtener la serie histórica de valor residual de un bono específico, filtrada por rango de fechas y plazo de liquidación",
        "tags": [
          "Bonds"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "symbol",
            "in": "path",
            "description": "El símbolo del bono",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "AL30"
          },
          {
            "name": "from_date",
            "in": "query",
            "description": "Fecha de inicio del rango (YYYY-MM-DD)",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "example": "2025-01-01"
          },
          {
            "name": "to_date",
            "in": "query",
            "description": "Fecha de fin del rango (YYYY-MM-DD)",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "example": "2025-01-10"
          },
          {
            "name": "settlement_entry",
            "in": "query",
            "description": "Plazo de liquidación: CI (contado inmediato), 24hs o 48hs",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "CI",
                "24hs",
                "48hs"
              ]
            },
            "example": "24hs"
          }
        ],
        "responses": {
          "200": {
            "description": "Serie de valores residuales obtenida exitosamente",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ResidualValueDataPoint"
                  }
                }
              }
            }
          },
          "401": {
            "description": "No autorizado - token de acceso inválido o faltante",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "type": "/errors/authentication-required",
                  "title": "Authorization header missing",
                  "status": 401,
                  "detail": "Authorization header missing",
                  "correlation_id": "d6e20e07-0580-4e2d-9480-00a68c1ae493"
                }
              }
            }
          },
          "404": {
            "description": "Ticker no encontrado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "type": "/errors/not-found",
                  "title": "Resource not found",
                  "status": 404,
                  "detail": "Ticker not found"
                }
              }
            }
          },
          "500": {
            "description": "Error interno del servidor",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "type": "/errors/internal-server-error",
                  "title": "Internal server error",
                  "status": 500,
                  "detail": "Internal server error",
                  "correlation_id": "6cd1fd05-63e9-4863-832f-d873e58e9d67"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/analytics/bonds/pricer": {
      "post": {
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "description": "Calcula TIR, TNA, TEM, TNA_30_360, VT, VR, Precio Dirty, Intereses Corridos, de un bono en función de un precio  dirty objetivo, una fecha de concertación y un plazo de liquidación (CI, 24hs, 48hs)",
        "tags": [
          "Bonds"
        ],
        "requestBody": {
          "description": "Parámetros para el cálculo de pricing del bono",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BondPricerRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Métricas de pricing calculadas exitosamente",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BondPricerResponse"
                }
              }
            }
          },
          "400": {
            "description": "Solicitud incorrecta - parámetros inválidos o faltantes",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "type": "/errors/bad-request",
                  "title": "Bad request",
                  "status": 400,
                  "detail": "Invalid request parameters",
                  "correlation_id": "6cd1fd05-63e9-4863-832f-d873e58e9d67"
                }
              }
            }
          },
          "401": {
            "description": "No autorizado - token de acceso inválido o faltante",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "type": "/errors/authentication-required",
                  "title": "Authorization header missing",
                  "status": 401,
                  "detail": "Authorization header missing",
                  "correlation_id": "d6e20e07-0580-4e2d-9480-00a68c1ae493"
                }
              }
            }
          },
          "404": {
            "description": "Ticker no encontrado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "type": "/errors/not-found",
                  "title": "Resource not found",
                  "status": 404,
                  "detail": "Ticker not found"
                }
              }
            }
          },
          "500": {
            "description": "Error interno del servidor",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "type": "/errors/internal-server-error",
                  "title": "Internal server error",
                  "status": 500,
                  "detail": "Internal server error",
                  "correlation_id": "6cd1fd05-63e9-4863-832f-d873e58e9d67"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/bonds/yields/{symbol}/historical": {
      "get": {
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "description": "Obtener datos intradiarios históricos de rendimiento de un bono específico",
        "tags": [
          "Bonds"
        ],
        "parameters": [
          {
            "name": "symbol",
            "in": "path",
            "description": "El símbolo del bono",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "AL30"
          },
          {
            "name": "from_date",
            "in": "query",
            "description": "Fecha de inicio del rango (YYYY-MM-DD)",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date",
              "default": "2025-01-10"
            },
            "example": "2025-01-01"
          },
          {
            "name": "to_date",
            "in": "query",
            "description": "Fecha de fin del rango (YYYY-MM-DD)",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date",
              "default": "2025-10-10"
            },
            "example": "2025-01-02"
          }
        ],
        "responses": {
          "200": {
            "description": "Datos de curva de rendimiento históricos obtenidos exitosamente",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HistoricalYieldsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid parameters or data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "invalid_subasset_class": {
                    "summary": "Invalid subasset_class parameter",
                    "description": "When the subasset_class parameter contains an invalid value",
                    "value": {
                      "type": "/errors/http-error",
                      "title": "subasset_class: Value error, Invalid subasset_class 'FIXED_RATES'. Supported values: BOPREAL, CER, DOLLAR_LINKED, FIXED_RATE, HARD_DOLLAR, ON, ON_BADLAR, ON_DOLLAR_LINKED, ON_TAMAR, SUB_SOBERANO, SUB_SOBERANO_BADLAR, SUB_SOBERANO_CER",
                      "status": 400,
                      "detail": "subasset_class: Value error, Invalid subasset_class 'FIXED_RATES'. Supported values: BOPREAL, CER, DOLLAR_LINKED, FIXED_RATE, HARD_DOLLAR, ON, ON_BADLAR, ON_DOLLAR_LINKED, ON_TAMAR, SUB_SOBERANO, SUB_SOBERANO_BADLAR, SUB_SOBERANO_CER"
                    }
                  },
                  "future_date": {
                    "summary": "Historical date in the future",
                    "description": "When the date parameter is set to a future date",
                    "value": {
                      "type": "/errors/http-error",
                      "title": "date: Value error, Historical date must be in the past",
                      "status": 400,
                      "detail": "date: Value error, Historical date must be in the past"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "No autorizado - token de acceso inválido o faltante",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "type": "/errors/authentication-required",
                  "title": "Authorization header missing",
                  "status": 401,
                  "detail": "Authorization header missing",
                  "correlation_id": "d6e20e07-0580-4e2d-9480-00a68c1ae493"
                }
              }
            }
          },
          "500": {
            "description": "Error interno del servidor",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "type": "/errors/internal-server-error",
                  "title": "Internal server error",
                  "status": 500,
                  "detail": "Internal server error",
                  "correlation_id": "6cd1fd05-63e9-4863-832f-d873e58e9d67"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/bonds/yields/{symbol}/intraday": {
      "get": {
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "description": "Obtener datos intradiarios de rendimiento de un bono específico",
        "tags": [
          "Bonds"
        ],
        "parameters": [
          {
            "name": "symbol",
            "in": "path",
            "description": "El símbolo del bono",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "AL30"
          }
        ],
        "responses": {
          "200": {
            "description": "Datos intradiarios obtenidos exitosamente",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IntradayYieldsPricesResponse"
                }
              }
            }
          },
          "401": {
            "description": "No autorizado - token de acceso inválido o faltante",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "type": "/errors/authentication-required",
                  "title": "Authorization header missing",
                  "status": 401,
                  "detail": "Authorization header missing",
                  "correlation_id": "d6e20e07-0580-4e2d-9480-00a68c1ae493"
                }
              }
            }
          },
          "404": {
            "description": "Ticker no encontrado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "type": "/errors/not-found",
                  "title": "Resource not found",
                  "status": 404,
                  "detail": "Ticker not found"
                }
              }
            }
          },
          "500": {
            "description": "Error interno del servidor",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "type": "/errors/internal-server-error",
                  "title": "Internal server error",
                  "status": 500,
                  "detail": "Internal server error",
                  "correlation_id": "6cd1fd05-63e9-4863-832f-d873e58e9d67"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/bonds/instruments": {
      "get": {
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "description": "Listar instrumentos de bonos",
        "tags": [
          "Bonds"
        ],
        "parameters": [
          {
            "name": "sub_asset_class",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "DOLLAR_LINKED",
                "HARD_DOLLAR",
                "CER",
                "BOPREAL",
                "FIXED_RATE",
                "SUB_SOBERANO",
                "ON",
                "TAMAR",
                "BADLAR",
                "ON_FIXED_RATE",
                "ON_CER",
                "ON_BADLAR",
                "ON_TAMAR",
                "ON_DOLLAR_LINKED",
                "SUB_SOBERANO_FIXED_RATE",
                "SUB_SOBERANO_CER",
                "SUB_SOBERANO_BADLAR",
                "SUB_SOBERANO_TAMAR"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 50
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Listado de instrumentos de bonos",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InstrumentListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Solicitud incorrecta - parámetros inválidos",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "No autorizado - token de acceso inválido o faltante",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "type": "/errors/authentication-required",
                  "title": "Authorization header missing",
                  "status": 401,
                  "detail": "Authorization header missing",
                  "correlation_id": "d6e20e07-0580-4e2d-9480-00a68c1ae493"
                }
              }
            }
          },
          "500": {
            "description": "Error interno del servidor",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "type": "/errors/internal-server-error",
                  "title": "Internal server error",
                  "status": 500,
                  "detail": "Internal server error",
                  "correlation_id": "6cd1fd05-63e9-4863-832f-d873e58e9d67"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/bonds/instruments/{symbol}": {
      "get": {
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "description": "Obtener detalle de un instrumento de bono",
        "tags": [
          "Bonds"
        ],
        "parameters": [
          {
            "name": "symbol",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "AL30"
          }
        ],
        "responses": {
          "200": {
            "description": "Detalle del instrumento",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InstrumentDetailResponse"
                }
              }
            }
          },
          "401": {
            "description": "No autorizado - token de acceso inválido o faltante",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "type": "/errors/authentication-required",
                  "title": "Authorization header missing",
                  "status": 401,
                  "detail": "Authorization header missing",
                  "correlation_id": "d6e20e07-0580-4e2d-9480-00a68c1ae493"
                }
              }
            }
          },
          "404": {
            "description": "Ticker no encontrado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "type": "/errors/not-found",
                  "title": "Resource not found",
                  "status": 404,
                  "detail": "Ticker not found"
                }
              }
            }
          },
          "500": {
            "description": "Error interno del servidor",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "type": "/errors/internal-server-error",
                  "title": "Internal server error",
                  "status": 500,
                  "detail": "Internal server error",
                  "correlation_id": "6cd1fd05-63e9-4863-832f-d873e58e9d67"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/bonds/instruments/search": {
      "get": {
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "description": "Buscar instrumentos de bonos",
        "tags": [
          "Bonds"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resultados de búsqueda",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InstrumentsSearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Solicitud incorrecta - parámetros inválidos",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "No autorizado - token de acceso inválido o faltante",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "type": "/errors/authentication-required",
                  "title": "Authorization header missing",
                  "status": 401,
                  "detail": "Authorization header missing",
                  "correlation_id": "d6e20e07-0580-4e2d-9480-00a68c1ae493"
                }
              }
            }
          },
          "500": {
            "description": "Error interno del servidor",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "type": "/errors/internal-server-error",
                  "title": "Internal server error",
                  "status": 500,
                  "detail": "Internal server error",
                  "correlation_id": "6cd1fd05-63e9-4863-832f-d873e58e9d67"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "AuthRequest": {
        "required": [
          "grant_type",
          "client_id",
          "client_secret"
        ],
        "type": "object",
        "properties": {
          "grant_type": {
            "description": "El tipo de concesión OAuth 2.0. Debe establecerse en client_credentials",
            "type": "string",
            "default": "client_credentials",
            "enum": [
              "client_credentials"
            ]
          },
          "client_id": {
            "description": "Tu identificador de cliente proporcionado por Docta",
            "type": "string"
          },
          "client_secret": {
            "description": "Tu secreto de cliente proporcionado por Docta",
            "type": "string"
          }
        }
      },
      "AuthResponse": {
        "required": [
          "access_token",
          "token_type",
          "expires_in",
          "scope"
        ],
        "type": "object",
        "properties": {
          "access_token": {
            "description": "El token de acceso a ser usado para solicitudes posteriores de la API",
            "type": "string"
          },
          "token_type": {
            "description": "El tipo de token. Será Bearer",
            "type": "string",
            "enum": [
              "Bearer"
            ]
          },
          "expires_in": {
            "description": "El número de segundos hasta que el token expire",
            "type": "integer"
          },
          "scope": {
            "description": "El alcance de acceso otorgado por este token",
            "type": "string"
          }
        }
      },
      "CashflowResponse": {
        "type": "object",
        "properties": {
          "ticker": {
            "type": "string",
            "description": "Símbolo del bono"
          },
          "data": {
            "type": "array",
            "description": "Lista de flujos de caja del bono",
            "items": {
              "$ref": "#/components/schemas/CashflowDataPoint"
            }
          },
          "metadata": {
            "$ref": "#/components/schemas/CashflowMetadata"
          }
        },
        "required": [
          "ticker",
          "data",
          "metadata"
        ]
      },
      "BondPricerRequest": {
        "type": "object",
        "required": [
          "ticker",
          "target",
          "value",
          "settlement_entry",
          "operation_date"
        ],
        "properties": {
          "ticker": {
            "type": "string",
            "description": "El símbolo del bono (ej., \"AL30\", \"GD30\")",
            "example": "AL30D"
          },
          "target": {
            "type": "string",
            "description": "El objetivo del cálculo. Debe ser \"price\" para calcular métricas basadas en un precio objetivo",
            "enum": [
              "price"
            ],
            "example": "price"
          },
          "value": {
            "type": "number",
            "description": "El precio objetivo del bono",
            "example": 65
          },
          "settlement_entry": {
            "type": "string",
            "description": "El tipo de liquidación. Puede ser \"24hs\" para liquidación en 24 horas, \"48hs\" para liquidación en 48 horas o \"C.I\" para contado inmediato",
            "enum": [
              "C.I",
              "24hs",
              "48hs"
            ],
            "example": "24hs"
          },
          "operation_date": {
            "type": "string",
            "format": "date",
            "description": "La fecha de operación en formato YYYY-MM-DD",
            "example": "2025-11-19"
          }
        }
      },
      "BondPricerResponse": {
        "type": "object",
        "properties": {
          "clean_price": {
            "type": "number",
            "description": "Precio limpio del bono (sin intereses devengados)"
          },
          "dirty_price": {
            "type": "number",
            "description": "Precio sucio del bono (incluyendo intereses devengados)"
          },
          "residual_value": {
            "type": "number",
            "description": "Valor residual del bono"
          },
          "tv": {
            "type": "number",
            "description": "Valor técnico del bono"
          },
          "accured_interest": {
            "type": "number",
            "description": "Interés devengado acumulado"
          },
          "days_to_maturity": {
            "type": "integer",
            "description": "Días hasta el vencimiento del bono"
          },
          "settlment_date": {
            "type": "string",
            "format": "date",
            "description": "Fecha de liquidación en formato YYYY-MM-DD"
          },
          "parity_price": {
            "type": "number",
            "description": "Precio de paridad del bono"
          },
          "tir": {
            "type": "number",
            "description": "Tasa Interna de Retorno (TIR) del bono"
          },
          "tea": {
            "type": "number",
            "description": "Tasa Efectiva Anual (TEA) del bono"
          },
          "tem": {
            "type": "number",
            "description": "Tasa Efectiva Mensual (TEM) del bono"
          },
          "tna": {
            "type": "number",
            "description": "Tasa Nominal Anual (TNA) del bono"
          },
          "tna_30_360": {
            "type": "number",
            "description": "Tasa Nominal Anual calculada con base 30/360"
          },
          "margen": {
            "type": "number",
            "description": "Margen del bono"
          },
          "duration": {
            "type": "number",
            "description": "Duración del bono (medida de sensibilidad del precio a cambios en la tasa de interés)"
          },
          "badlar_last5": {
            "type": "number",
            "description": "Promedio de la tasa BADLAR de los últimos 5 días"
          }
        },
        "required": [
          "clean_price",
          "dirty_price",
          "residual_value",
          "tv",
          "accured_interest",
          "days_to_maturity",
          "settlment_date",
          "parity_price",
          "tir",
          "tea",
          "tem",
          "tna",
          "tna_30_360",
          "margen",
          "duration",
          "badlar_last5"
        ]
      },
      "ResidualValueDataPoint": {
        "type": "object",
        "properties": {
          "operation_date": {
            "type": "string",
            "format": "date",
            "description": "Fecha de operación"
          },
          "settlement_entry": {
            "type": "string",
            "description": "Plazo de liquidación"
          },
          "settlement_date": {
            "type": "string",
            "format": "date",
            "description": "Fecha de liquidación"
          },
          "residual_value": {
            "type": "number",
            "description": "Valor residual del bono"
          }
        },
        "required": [
          "operation_date",
          "settlement_entry",
          "settlement_date",
          "residual_value"
        ]
      },
      "IntradayYieldsPricesResponse": {
        "type": "object",
        "properties": {
          "ticker": {
            "type": "string"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IntradayYieldsDataPoint"
            }
          },
          "metadata": {
            "$ref": "#/components/schemas/IntradayYieldsMetadata"
          }
        },
        "required": [
          "ticker",
          "data",
          "metadata"
        ]
      },
      "HistoricalYieldsResponse": {
        "type": "object",
        "properties": {
          "ticker": {
            "type": "string",
            "description": "Símbolo del bono"
          },
          "data": {
            "type": "array",
            "description": "Serie histórica de rendimientos",
            "items": {
              "$ref": "#/components/schemas/HistoricalYieldsDataPoint"
            }
          },
          "from_date": {
            "type": "string",
            "format": "date",
            "description": "Fecha inicio del rango",
            "example": "2025-01-01"
          },
          "to_date": {
            "type": "string",
            "format": "date",
            "description": "Fecha fin del rango",
            "example": "2025-02-01"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "required": [
          "ticker",
          "data",
          "from_date",
          "to_date",
          "metadata"
        ]
      },
      "Error": {
        "required": [
          "type",
          "title",
          "status",
          "detail",
          "correlation_id"
        ],
        "type": "object",
        "properties": {
          "type": {
            "description": "El identificador del tipo de error",
            "type": "string",
            "example": "/errors/authentication-required"
          },
          "title": {
            "description": "Una breve descripción del error",
            "type": "string",
            "example": "Invalid client credentials"
          },
          "status": {
            "description": "El código de estado HTTP",
            "type": "integer",
            "example": 401
          },
          "detail": {
            "description": "Una descripción detallada del error",
            "type": "string",
            "example": "Invalid client credentials"
          },
          "correlation_id": {
            "description": "Un identificador único para rastrear esta solicitud de error",
            "type": "string",
            "format": "uuid",
            "example": "2eb07802-94de-468a-b70f-75a49f3e9516"
          }
        }
      },
      "InstrumentDetailResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/InstrumentDetail"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "filters": {
            "$ref": "#/components/schemas/InstrumentDetailFilters"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "required": [
          "data",
          "pagination",
          "filters",
          "metadata"
        ]
      },
      "InstrumentListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/InstrumentSummary"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "filters": {
            "$ref": "#/components/schemas/InstrumentsFilters"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "required": [
          "data",
          "pagination",
          "filters",
          "metadata"
        ]
      },
      "InstrumentsSearchResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/InstrumentSummary"
            }
          },
          "query": {
            "type": "string",
            "description": "Consulta de búsqueda utilizada"
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "required": [
          "data",
          "query",
          "pagination",
          "metadata"
        ]
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}