{
  "openapi": "3.1.0",
  "info": {
    "title": "API de Docta Capital",
    "description": "API para acceder a datos de mercado y servicios financieros de Docta Capital",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.doctacapital.com.ar"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/api/v1/auth/token": {
      "post": {
        "description": "Obtener un token de acceso usando credenciales de cliente para la autenticación de la API",
        "tags": [
          "Autenticación"
        ],
        "security": [],
        "requestBody": {
          "description": "Credenciales de cliente para autenticación",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuthRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Token de acceso obtenido exitosamente",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthResponse"
                }
              }
            }
          },
          "401": {
            "description": "Credenciales de cliente inválidas",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "400": {
            "description": "Solicitud incorrecta - parámetros inválidos",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/bonds/market-data/{symbol}/ohlc": {
      "get": {
        "description": "Obtener datos de precios históricos (ajustados por cupones, amortizaciones, splits y dividendos, o sin ajustar) para un ticker específico dentro de un rango de fechas",
        "tags": [
          "Bonds"
        ],
        "parameters": [
          {
            "name": "symbol",
            "in": "path",
            "description": "El símbolo ticker o identificador del instrumento financiero",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "PAGS"
          },
          {
            "name": "from_date",
            "in": "query",
            "description": "Fecha de inicio para los datos históricos en formato YYYY-MM-DD",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "example": "2025-06-01"
          },
          {
            "name": "to_date",
            "in": "query",
            "description": "Fecha de fin para los datos históricos en formato YYYY-MM-DD",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "example": "2025-06-15"
          },
          {
            "name": "adjusted",
            "in": "query",
            "description": "Si devolver precios ajustados por eventos corporativos",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "example": false
          }
        ],
        "responses": {
          "200": {
            "description": "Datos de precios históricos obtenidos exitosamente",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HistoricalPricesResponse"
                }
              }
            }
          },
          "500": {
            "description": "Error interno del servidor",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "type": "/errors/internal-server-error",
                  "title": "Internal server error",
                  "status": 500,
                  "detail": "Internal server error",
                  "correlation_id": "6cd1fd05-63e9-4863-832f-d873e58e9d67"
                }
              }
            }
          },
          "401": {
            "description": "No autorizado - token de acceso inválido o faltante",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "type": "/errors/authentication-required",
                  "title": "Authorization header missing",
                  "status": 401,
                  "detail": "Authorization header missing",
                  "correlation_id": "d6e20e07-0580-4e2d-9480-00a68c1ae493"
                }
              }
            }
          },
          "404": {
            "description": "Ticker no encontrado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "type": "/errors/not-found",
                  "title": "Resource not found",
                  "status": 404,
                  "detail": "Ticker not found"
                }
              }
            }
          },
          "422": {
            "description": "Parámetros de fecha inválidos",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "type": "/errors/http-error",
                  "title": "Start date cannot be after end date",
                  "status": 422,
                  "detail": "Start date cannot be after end date"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/bonds/analytics/cashflow/{symbol}": {
      "get": {
        "description": "Obtener el flujo de caja de un bono específico, incluyendo todos los pagos de capital e intereses",
        "tags": [
          "Bonds"
        ],
        "parameters": [
          {
            "name": "symbol",
            "in": "path",
            "description": "El símbolo del bono",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "AL30"
          },
          {
            "name": "nominal_units",
            "in": "query",
            "description": "Unidades nominales para el cálculo",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "example": 100
          }
        ],
        "responses": {
          "200": {
            "description": "Bond cashflow data successfully retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BondCashflowResponse"
                }
              }
            }
          },
          "500": {
            "description": "Error interno del servidor",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "type": "/errors/internal-server-error",
                  "title": "Internal server error",
                  "status": 500,
                  "detail": "Internal server error",
                  "correlation_id": "6cd1fd05-63e9-4863-832f-d873e58e9d67"
                }
              }
            }
          },
          "401": {
            "description": "No autorizado - token de acceso inválido o faltante",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "type": "/errors/authentication-required",
                  "title": "Authorization header missing",
                  "status": 401,
                  "detail": "Authorization header missing",
                  "correlation_id": "d6e20e07-0580-4e2d-9480-00a68c1ae493"
                }
              }
            }
          },
          "404": {
            "description": "Ticker no encontrado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "type": "/errors/not-found",
                  "title": "Resource not found",
                  "status": 404,
                  "detail": "Ticker not found"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/bonds/yields/historical-curve": {
      "get": {
        "description": "Obtener las curvas de rendimiento (yield-curve) históricas o intradiarias de bonos para una fecha y sub-asset class determinado",
        "tags": [
          "Bonds"
        ],
        "parameters": [
          {
            "name": "sub_asset_class",
            "in": "query",
            "description": "La clasificación de submercado para los datos de curva de rendimiento",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "DOLLAR_LINKED",
                "HARD_DOLLAR",
                "CER",
                "BOPREAL",
                "FIXED_RATE",
                "SUB_SOBERANO",
                "ON",
                "TAMAR",
                "BADLAR",
                "ON_FIXED_RATE",
                "ON_CER",
                "ON_BADLAR",
                "ON_TAMAR",
                "ON_DOLLAR_LINKED",
                "SUB_SOBERANO_FIXED_RATE",
                "SUB_SOBERANO_CER",
                "SUB_SOBERANO_BADLAR",
                "SUB_SOBERANO_TAMAR"
              ]
            },
            "example": "HARD_DOLLAR"
          },
          {
            "name": "from_date",
            "in": "query",
            "description": "Fecha de inicio del rango (YYYY-MM-DD)",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "example": "2025-01-01"
          },
          {
            "name": "to_date",
            "in": "query",
            "description": "Fecha de fin del rango (YYYY-MM-DD)",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "example": "2025-01-02"
          }
        ],
        "responses": {
          "200": {
            "description": "Datos de curva de rendimiento históricos obtenidos exitosamente",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/YieldCurveResponse"
                }
              }
            }
          },
          "500": {
            "description": "Error interno del servidor",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "type": "/errors/internal-server-error",
                  "title": "Internal server error",
                  "status": 500,
                  "detail": "Internal server error",
                  "correlation_id": "6cd1fd05-63e9-4863-832f-d873e58e9d67"
                }
              }
            }
          },
          "401": {
            "description": "No autorizado - token de acceso inválido o faltante",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "type": "/errors/authentication-required",
                  "title": "Authorization header missing",
                  "status": 401,
                  "detail": "Authorization header missing",
                  "correlation_id": "d6e20e07-0580-4e2d-9480-00a68c1ae493"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid parameters or data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "invalid_subasset_class": {
                    "summary": "Invalid subasset_class parameter",
                    "description": "When the subasset_class parameter contains an invalid value",
                    "value": {
                      "type": "/errors/http-error",
                      "title": "subasset_class: Value error, Invalid subasset_class 'FIXED_RATES'. Supported values: BOPREAL, CER, DOLLAR_LINKED, FIXED_RATE, HARD_DOLLAR, ON, ON_BADLAR, ON_DOLLAR_LINKED, ON_TAMAR, SUB_SOBERANO, SUB_SOBERANO_BADLAR, SUB_SOBERANO_CER",
                      "status": 400,
                      "detail": "subasset_class: Value error, Invalid subasset_class 'FIXED_RATES'. Supported values: BOPREAL, CER, DOLLAR_LINKED, FIXED_RATE, HARD_DOLLAR, ON, ON_BADLAR, ON_DOLLAR_LINKED, ON_TAMAR, SUB_SOBERANO, SUB_SOBERANO_BADLAR, SUB_SOBERANO_CER"
                    }
                  },
                  "future_date": {
                    "summary": "Historical date in the future",
                    "description": "When the date parameter is set to a future date",
                    "value": {
                      "type": "/errors/http-error",
                      "title": "date: Value error, Historical date must be in the past",
                      "status": 400,
                      "detail": "date: Value error, Historical date must be in the past"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Subasset type no encontrado o no hay datos disponibles",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "type": "/errors/not-found",
                  "title": "Resource not found: /bonds/tir_curve/historical",
                  "status": 404,
                  "detail": "Resource not found: /bonds/tir_curve/historical",
                  "correlation_id": "438caef0-f014-4a80-874c-4d0261ff28a3"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/bonds/yields/curve": {
      "get": {
        "description": "Obtener la curva de rendimiento actual para una subclase de bonos",
        "tags": [
          "Bonds"
        ],
        "parameters": [
          {
            "name": "sub_asset_class",
            "in": "query",
            "description": "La subclase de activo para la curva",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "DOLLAR_LINKED",
                "HARD_DOLLAR",
                "CER",
                "BOPREAL",
                "FIXED_RATE",
                "SUB_SOBERANO",
                "ON",
                "TAMAR",
                "BADLAR",
                "ON_FIXED_RATE",
                "ON_CER",
                "ON_BADLAR",
                "ON_TAMAR",
                "ON_DOLLAR_LINKED",
                "SUB_SOBERANO_FIXED_RATE",
                "SUB_SOBERANO_CER",
                "SUB_SOBERANO_BADLAR",
                "SUB_SOBERANO_TAMAR"
              ]
            },
            "example": "HARD_DOLLAR"
          }
        ],
        "responses": {
          "200": {
            "description": "Curva de rendimiento obtenida exitosamente",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/YieldCurveResponse" }
              }
            }
          },
          "401": {
            "description": "No autorizado - token faltante o inválido",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          },
          "500": {
            "description": "Error interno del servidor",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          }
        }
      }
    }
    ,
    "/api/v1/bonds/market-data/{symbol}/intraday": {
      "get": {
        "description": "Obtener datos intradiarios para un bono específico",
        "tags": [
          "Bonds"
        ],
        "parameters": [
          {
            "name": "symbol",
            "in": "path",
            "description": "El símbolo del bono",
            "required": true,
            "schema": { "type": "string" },
            "example": "AL30"
          }
        ],
        "responses": {
          "200": {
            "description": "Datos intradiarios obtenidos exitosamente",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HistoricalPricesResponse" }
              }
            }
          }
        }
      }
    },
    "/api/v1/bonds/instruments": {
      "get": {
        "description": "Listar instrumentos de bonos",
        "tags": [
          "Bonds"
        ],
        "parameters": [
          { "name": "sub_asset_class", "in": "query", "required": false, "schema": { "type": "string", "enum": [
            "DOLLAR_LINKED",
            "HARD_DOLLAR",
            "CER",
            "BOPREAL",
            "FIXED_RATE",
            "SUB_SOBERANO",
            "ON",
            "TAMAR",
            "BADLAR",
            "ON_FIXED_RATE",
            "ON_CER",
            "ON_BADLAR",
            "ON_TAMAR",
            "ON_DOLLAR_LINKED",
            "SUB_SOBERANO_FIXED_RATE",
            "SUB_SOBERANO_CER",
            "SUB_SOBERANO_BADLAR",
            "SUB_SOBERANO_TAMAR"
          ] } },
          { "name": "limit", "in": "query", "required": false, "schema": { "type": "integer", "default": 50 } },
          { "name": "cursor", "in": "query", "required": false, "schema": { "type": "string", "nullable": true } }
        ],
        "responses": {
          "200": {
            "description": "Listado de instrumentos de bonos",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/InstrumentListResponse" } }
            }
          }
        }
      }
    },
    "/api/v1/bonds/instruments/{symbol}": {
      "get": {
        "description": "Obtener detalle de un instrumento de bono",
        "tags": [ "Bonds" ],
        "parameters": [
          { "name": "symbol", "in": "path", "required": true, "schema": { "type": "string" }, "example": "AL30" }
        ],
        "responses": {
          "200": {
            "description": "Detalle del instrumento",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/Instrument" } }
            }
          }
        }
      }
    },
    "/api/v1/bonds/instruments/search": {
      "get": {
        "description": "Buscar instrumentos de bonos",
        "tags": [ "Bonds" ],
        "parameters": [
          { "name": "query", "in": "query", "required": true, "schema": { "type": "string" } },
          { "name": "limit", "in": "query", "required": false, "schema": { "type": "integer", "default": 10 } },
          { "name": "cursor", "in": "query", "required": false, "schema": { "type": "string", "nullable": true } }
        ],
        "responses": {
          "200": {
            "description": "Resultados de búsqueda",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/InstrumentListResponse" } }
            }
          }
        }
      }
    },
    "/api/v1/bonds/analytics/pricing": {
      "post": {
        "description": "Calcular precio teórico de un bono",
        "tags": [ "Bonds" ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["ticker", "settlement_date", "yield_rate"],
                "properties": {
                  "ticker": { "type": "string", "example": "AL30" },
                  "settlement_date": { "type": "string", "format": "date", "example": "2025-10-15" },
                  "yield_rate": { "type": "number", "format": "float", "example": 15.5 }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Precio calculado",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/PricingResponse" } }
            }
          }
        }
      }
    },
    "/api/v1/bonds/analytics/risk-metrics": {
      "post": {
        "description": "Calcular métricas de riesgo del bono",
        "tags": [ "Bonds" ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["ticker", "settlement_date", "yield_rate"],
                "properties": {
                  "ticker": { "type": "string", "example": "AL30" },
                  "settlement_date": { "type": "string", "format": "date", "example": "2025-10-15" },
                  "yield_rate": { "type": "number", "format": "float", "example": 15.5 }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Métricas de riesgo",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/RiskMetricsResponse" } }
            }
          }
        }
      }
    },
    "/api/v1/cedears/instruments": {
      "get": {
        "description": "Listar instrumentos CEDEAR",
        "tags": [ "CEDEARs" ],
        "parameters": [
          { "name": "limit", "in": "query", "required": false, "schema": { "type": "integer", "default": 50 } },
          { "name": "cursor", "in": "query", "required": false, "schema": { "type": "string", "nullable": true } }
        ],
        "responses": { "200": { "description": "Listado CEDEARs", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/InstrumentListResponse" } } } } }
      }
    },
    "/api/v1/cedears/instruments/{symbol}": {
      "get": {
        "description": "Detalle de CEDEAR",
        "tags": [ "CEDEARs" ],
        "parameters": [ { "name": "symbol", "in": "path", "required": true, "schema": { "type": "string" }, "example": "AAPL" } ],
        "responses": { "200": { "description": "Detalle CEDEAR", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Instrument" } } } } }
      }
    },
    "/api/v1/cedears/instruments/search": {
      "get": {
        "description": "Buscar CEDEARs",
        "tags": [ "CEDEARs" ],
        "parameters": [ { "name": "query", "in": "query", "required": true, "schema": { "type": "string" } }, { "name": "limit", "in": "query", "required": false, "schema": { "type": "integer", "default": 10 } } ],
        "responses": { "200": { "description": "Resultados de búsqueda", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/InstrumentListResponse" } } } } }
      }
    },
    "/api/v1/cedears/market-data/{symbol}/ohlc": {
      "get": {
        "description": "OHLC histórico de CEDEAR",
        "tags": [ "CEDEARs" ],
        "parameters": [
          { "name": "symbol", "in": "path", "required": true, "schema": { "type": "string" }, "example": "AAPL" },
          { "name": "from_date", "in": "query", "required": true, "schema": { "type": "string", "format": "date" } },
          { "name": "to_date", "in": "query", "required": true, "schema": { "type": "string", "format": "date" } },
          { "name": "adjusted", "in": "query", "required": false, "schema": { "type": "boolean" } }
        ],
        "responses": { "200": { "description": "Datos OHLC", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HistoricalPricesResponse" } } } } }
      }
    },
    "/api/v1/cedears/market-data/{symbol}/intraday": {
      "get": {
        "description": "Intraday CEDEAR",
        "tags": [ "CEDEARs" ],
        "parameters": [ { "name": "symbol", "in": "path", "required": true, "schema": { "type": "string" }, "example": "AAPL" } ],
        "responses": { "200": { "description": "Datos intradiarios", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HistoricalPricesResponse" } } } } }
      }
    },
    "/api/v1/stocks/instruments": {
      "get": {
        "description": "Listar instrumentos de acciones",
        "tags": [ "Stocks" ],
        "parameters": [ { "name": "limit", "in": "query", "required": false, "schema": { "type": "integer", "default": 50 } }, { "name": "cursor", "in": "query", "required": false, "schema": { "type": "string", "nullable": true } } ],
        "responses": { "200": { "description": "Listado acciones", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/InstrumentListResponse" } } } } }
      }
    },
    "/api/v1/stocks/instruments/{symbol}": {
      "get": {
        "description": "Detalle de acción",
        "tags": [ "Stocks" ],
        "parameters": [ { "name": "symbol", "in": "path", "required": true, "schema": { "type": "string" }, "example": "GGAL" } ],
        "responses": { "200": { "description": "Detalle acción", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Instrument" } } } } }
      }
    },
    "/api/v1/stocks/instruments/search": {
      "get": {
        "description": "Buscar acciones",
        "tags": [ "Stocks" ],
        "parameters": [ { "name": "query", "in": "query", "required": true, "schema": { "type": "string" } }, { "name": "limit", "in": "query", "required": false, "schema": { "type": "integer", "default": 10 } } ],
        "responses": { "200": { "description": "Resultados de búsqueda", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/InstrumentListResponse" } } } } }
      }
    },
    "/api/v1/stocks/market-data/{symbol}/ohlc": {
      "get": {
        "description": "OHLC histórico de acción",
        "tags": [ "Stocks" ],
        "parameters": [
          { "name": "symbol", "in": "path", "required": true, "schema": { "type": "string" }, "example": "GGAL" },
          { "name": "from_date", "in": "query", "required": true, "schema": { "type": "string", "format": "date" } },
          { "name": "to_date", "in": "query", "required": true, "schema": { "type": "string", "format": "date" } },
          { "name": "adjusted", "in": "query", "required": false, "schema": { "type": "boolean" } }
        ],
        "responses": { "200": { "description": "Datos OHLC", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HistoricalPricesResponse" } } } } }
      }
    },
    "/api/v1/stocks/market-data/{symbol}/intraday": {
      "get": {
        "description": "Intraday acción",
        "tags": [ "Stocks" ],
        "parameters": [ { "name": "symbol", "in": "path", "required": true, "schema": { "type": "string" }, "example": "GGAL" } ],
        "responses": { "200": { "description": "Datos intradiarios", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HistoricalPricesResponse" } } } } }
      }
    }
  },
  "components": {
    "schemas": {
      "AuthRequest": {
        "required": [
          "grant_type",
          "client_id",
          "client_secret",
          "scope"
        ],
        "type": "object",
        "properties": {
          "grant_type": {
            "description": "El tipo de concesión OAuth 2.0. Debe establecerse en client_credentials",
            "type": "string",
            "enum": [
              "client_credentials"
            ]
          },
          "client_id": {
            "description": "Tu identificador de cliente proporcionado por Docta Capital",
            "type": "string"
          },
          "client_secret": {
            "description": "Tu secreto de cliente proporcionado por Docta Capital",
            "type": "string"
          },
          "scope": {
            "description": "El alcance de acceso solicitado",
            "type": "string",
            "example": "bonds:read cedears:read stocks:read"
          }
        }
      },
      "AuthResponse": {
        "required": [
          "access_token",
          "token_type",
          "expires_in",
          "scope"
        ],
        "type": "object",
        "properties": {
          "access_token": {
            "description": "El token de acceso a ser usado para solicitudes posteriores de la API",
            "type": "string"
          },
          "token_type": {
            "description": "El tipo de token. Será Bearer",
            "type": "string",
            "enum": [
              "Bearer"
            ]
          },
          "expires_in": {
            "description": "El número de segundos hasta que el token expire",
            "type": "integer"
          },
          "scope": {
            "description": "El alcance de acceso otorgado por este token",
            "type": "string"
          }
        }
      },
      "HistoricalPricesResponse": {
        "required": [
          "ticker",
          "data",
          "from_date",
          "to_date",
          "pagination",
          "metadata"
        ],
        "type": "object",
        "properties": {
          "ticker": {
            "description": "El símbolo ticker del instrumento solicitado",
            "type": "string",
            "example": "PAGS"
          },
          "data": {
            "description": "Array de puntos de datos de precios históricos",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PriceDataPoint"
            }
          },
          "adjusted": {
            "description": "Si los precios están ajustados por eventos corporativos",
            "type": "boolean",
            "example": false
          },
          "from_date": {
            "description": "La fecha de inicio del rango de datos solicitado",
            "type": "string",
            "format": "date",
            "example": "2025-06-01"
          },
          "to_date": {
            "description": "La fecha de fin del rango de datos solicitado",
            "type": "string",
            "format": "date",
            "example": "2025-06-15"
          },
          "pagination": {
            "description": "Información de paginación para los resultados",
            "$ref": "#/components/schemas/Pagination"
          },
          "metadata": {
            "description": "Metadatos sobre la consulta y los datos",
            "$ref": "#/components/schemas/Metadata"
          }
        }
      },
      "PriceDataPoint": {
        "required": [
          "date",
          "open_price",
          "high_price",
          "low_price",
          "close_price",
          "volume",
          "volume_ars"
        ],
        "type": "object",
        "properties": {
          "date": {
            "description": "La fecha de los datos de precio en formato YYYY-MM-DD",
            "type": "string",
            "format": "date",
            "example": "2025-06-01"
          },
          "open_price": {
            "description": "Precio de apertura del día",
            "type": "number",
            "format": "float",
            "example": 3585.0
          },
          "high_price": {
            "description": "Precio más alto durante el día",
            "type": "number",
            "format": "float",
            "example": 3645.0
          },
          "low_price": {
            "description": "Precio más bajo durante el día",
            "type": "number",
            "format": "float",
            "example": 3510.0
          },
          "close_price": {
            "description": "Precio de cierre del día",
            "type": "number",
            "format": "float",
            "example": 3630.0
          },
          "volume": {
            "description": "Volumen de negociación del día en unidades",
            "type": "number",
            "format": "float",
            "example": 97529.0
          },
          "volume_ars": {
            "description": "Volumen de negociación del día en pesos argentinos",
            "type": "number",
            "format": "float",
            "example": 350740945.0
          },
          "adjusted": {
            "description": "Si este punto de datos específico está ajustado por eventos corporativos",
            "type": "boolean",
            "example": false
          }
        }
      },
      "Pagination": {
        "required": [
          "limit",
          "has_next",
          "next_cursor",
          "total_items"
        ],
        "type": "object",
        "properties": {
          "limit": {
            "description": "Límite de elementos por página",
            "type": "integer",
            "example": 200
          },
          "has_next": {
            "description": "Si hay más páginas disponibles",
            "type": "boolean",
            "example": false
          },
          "next_cursor": {
            "description": "Cursor para la siguiente página (null si no hay más páginas)",
            "type": "string",
            "nullable": true,
            "example": null
          },
          "total_items": {
            "description": "Total de elementos disponibles (null si no está disponible)",
            "type": "integer",
            "nullable": true,
            "example": null
          }
        }
      },
      "Metadata": {
        "required": [
          "total_records"
        ],
        "type": "object",
        "properties": {
          "total_records": {
            "description": "Total de registros devueltos en esta respuesta",
            "type": "integer",
            "example": 10
          }
        }
      },
      "BondCashflowResponse": {
        "required": [
          "ticker",
          "nominal_units",
          "payments",
          "total_principal",
          "total_interest",
          "total_cashflow"
        ],
        "type": "object",
        "properties": {
          "ticker": {
            "description": "El símbolo del bono solicitado",
            "type": "string",
            "example": "AL30"
          },
          "nominal_units": {
            "description": "Las unidades nominales utilizadas para el cálculo",
            "type": "number",
            "format": "float",
            "example": 100.0
          },
          "payments": {
            "description": "Array de pagos del flujo de caja para el bono",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BondPayment"
            }
          },
          "total_principal": {
            "description": "Total de pagos de capital durante la vida del bono",
            "type": "number",
            "format": "float",
            "example": 100.0
          },
          "total_interest": {
            "description": "Total de pagos de intereses durante la vida del bono",
            "type": "number",
            "format": "float",
            "example": 9.360138888888889
          },
          "total_cashflow": {
            "description": "Monto total del flujo de caja durante la vida del bono",
            "type": "number",
            "format": "float",
            "example": 105.04013888888889
          }
        }
      },
      "BondPayment": {
        "required": [
          "date",
          "principal",
          "interest",
          "total",
          "remaining_principal"
        ],
        "type": "object",
        "properties": {
          "date": {
            "description": "La fecha de pago en formato YYYY-MM-DD",
            "type": "string",
            "format": "date",
            "example": "2025-01-09"
          },
          "principal": {
            "description": "El monto de capital pagado en esta fecha",
            "type": "number",
            "format": "float",
            "example": 8.0
          },
          "interest": {
            "description": "El monto de intereses pagado en esta fecha",
            "type": "number",
            "format": "float",
            "example": 0.375
          },
          "total": {
            "description": "El monto total pagado en esta fecha (principal + intereses)",
            "type": "number",
            "format": "float",
            "example": 8.36
          },
          "remaining_principal": {
            "description": "El capital restante después de este pago",
            "type": "number",
            "format": "float",
            "example": 88.0
          }
        }
      },
      "CashflowEvent": {
        "required": [
          "date",
          "type",
          "amount",
          "currency",
          "description"
        ],
        "type": "object",
        "properties": {
          "date": {
            "description": "La fecha de pago en formato YYYY-MM-DD",
            "type": "string",
            "format": "date",
            "example": "2025-03-31"
          },
          "type": {
            "description": "El tipo de pago",
            "type": "string",
            "enum": [
              "interest",
              "principal",
              "amortization"
            ],
            "example": "interest"
          },
          "amount": {
            "description": "El monto del pago en la moneda del bono",
            "type": "number",
            "format": "float",
            "example": 1250.00
          },
          "currency": {
            "description": "La moneda del pago",
            "type": "string",
            "example": "ARS"
          },
          "description": {
            "description": "Descripción del pago",
            "type": "string",
            "example": "Interest Payment"
          }
        }
      },
      "YieldCurveResponse": {
        "required": [
          "data",
          "date",
          "filters",
          "metadata"
        ],
        "type": "object",
        "properties": {
          "data": {
            "description": "Array de instrumentos financieros con sus datos de curva de rendimiento",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/YieldCurveInstrument"
            }
          },
          "date": {
            "description": "La fecha histórica para la cual se obtuvieron los datos de curva de rendimiento",
            "type": "string",
            "format": "date",
            "example": "2025-01-02"
          },
          "filters": {
            "description": "Los filtros aplicados a la consulta",
            "$ref": "#/components/schemas/YieldCurveFilters"
          }
        }
      },
      "YieldCurveInstrument": {
        "required": [
          "ticker",
          "specie",
          "subasset_class",
          "maturity_date",
          "tir",
          "tna_30_360",
          "duration",
          "date"
        ],
        "type": "object",
        "properties": {
          "ticker": {
            "description": "El símbolo ticker del instrumento financiero",
            "type": "string",
            "example": "AL29"
          },
          "specie": {
            "description": "La especie de moneda del instrumento",
            "type": "string",
            "example": "D"
          },
          "subasset_class": {
            "description": "La clasificación de submercado del instrumento",
            "type": "string",
            "example": "HARD_DOLLAR"
          },
          "maturity_date": {
            "description": "La fecha de vencimiento del instrumento (null si no aplica)",
            "type": "string",
            "nullable": true,
            "example": null
          },
          "tir": {
            "description": "La Tasa Interna de Retorno (TIR) del instrumento",
            "type": "number",
            "format": "float",
            "example": 0.104657
          },
          "tna_30_360": {
            "description": "La Tasa Nominal Anual calculada con base 30/360 (null si no aplica)",
            "type": "number",
            "format": "float",
            "nullable": true,
            "example": null
          },
          "duration": {
            "description": "La duración del instrumento en años",
            "type": "number",
            "format": "float",
            "example": 2.046129
          },
          "date": {
            "description": "La fecha de los datos en formato YYYY-MM-DD",
            "type": "string",
            "format": "date",
            "example": "2025-01-02"
          }
        }
      },
      "YieldCurveFilters": {
        "required": [
          "specie",
          "subasset_class"
        ],
        "type": "object",
        "properties": {
          "specie": {
            "description": "La especie de moneda utilizada en el filtro",
            "type": "string",
            "example": "D"
          },
          "subasset_class": {
            "description": "La clasificación de submercado utilizada en el filtro",
            "type": "string",
            "example": "HARD_DOLLAR"
          }
        }
      },
      "YieldCurvePoint": {
        "required": [
          "maturity",
          "yield",
          "currency",
          "maturity_days"
        ],
        "type": "object",
        "properties": {
          "maturity": {
            "description": "El período de vencimiento",
            "type": "string",
            "example": "1Y"
          },
          "yield": {
            "description": "La tasa de rendimiento para el período de vencimiento específico",
            "type": "number",
            "format": "float",
            "example": 15.8
          },
          "currency": {
            "description": "La moneda de la tasa de rendimiento",
            "type": "string",
            "example": "USD"
          },
          "maturity_days": {
            "description": "El período de vencimiento en días",
            "type": "integer",
            "example": 365
          }
        }
      },
      "Error": {
        "required": [
          "type",
          "title",
          "status",
          "detail",
          "correlation_id"
        ],
        "type": "object",
        "properties": {
          "type": {
            "description": "El identificador del tipo de error",
            "type": "string",
            "example": "/errors/authentication-required"
          },
          "title": {
            "description": "Una breve descripción del error",
            "type": "string",
            "example": "Invalid client credentials"
          },
          "status": {
            "description": "El código de estado HTTP",
            "type": "integer",
            "example": 401
          },
          "detail": {
            "description": "Una descripción detallada del error",
            "type": "string",
            "example": "Invalid client credentials"
          },
          "correlation_id": {
            "description": "Un identificador único para rastrear esta solicitud de error",
            "type": "string",
            "format": "uuid",
            "example": "2eb07802-94de-468a-b70f-75a49f3e9516"
          }
        }
      },
      "Instrument": {
        "type": "object",
        "properties": {
          "ticker": { "type": "string", "description": "Símbolo del instrumento" },
          "name": { "type": "string", "description": "Nombre del instrumento" },
          "currency": { "type": "string", "description": "Moneda" },
          "exchange": { "type": "string", "description": "Mercado" },
          "sub_asset_class": { "type": "string", "description": "Sub-clase de activo", "nullable": true }
        }
      },
      "InstrumentListResponse": {
        "type": "object",
        "properties": {
          "items": { "type": "array", "items": { "$ref": "#/components/schemas/Instrument" } },
          "pagination": { "$ref": "#/components/schemas/Pagination" }
        }
      },
      "PricingResponse": {
        "type": "object",
        "properties": {
          "ticker": { "type": "string" },
          "clean_price": { "type": "number", "format": "float" },
          "dirty_price": { "type": "number", "format": "float" },
          "accrued_interest": { "type": "number", "format": "float" }
        }
      },
      "RiskMetricsResponse": {
        "type": "object",
        "properties": {
          "ticker": { "type": "string" },
          "duration": { "type": "number", "format": "float" },
          "convexity": { "type": "number", "format": "float" }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}