{
  "openapi": "3.1.0",
  "info": {
    "title": "API de Docta Capital",
    "description": "API para acceder a datos de mercado y servicios financieros de Docta Capital",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.doctacapital.com.ar"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/api/v1/auth/token": {
      "post": {
        "description": "Obtener un token de acceso usando credenciales de cliente para la autenticación de la API",
        "tags": [
          "Autenticación"
        ],
        "security": [],
        "requestBody": {
          "description": "Credenciales de cliente para autenticación",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuthRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Token de acceso obtenido exitosamente",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthResponse"
                }
              }
            }
          },
          "401": {
            "description": "Credenciales de cliente inválidas",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "400": {
            "description": "Solicitud incorrecta - parámetros inválidos",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/bonds/market-data/{symbol}/ohlc": {
      "get": {
        "description": "Obtener datos de precios históricos (ajustados por cupones, amortizaciones, splits y dividendos, o sin ajustar) para un ticker específico dentro de un rango de fechas",
        "tags": [
          "Bonds"
        ],
        "parameters": [
          {
            "name": "symbol",
            "in": "path",
            "description": "El símbolo ticker o identificador del instrumento financiero",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "PAGS"
          },
          {
            "name": "from_date",
            "in": "query",
            "description": "Fecha de inicio para los datos históricos en formato YYYY-MM-DD",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date",
              "default": "2025-01-10"
            },
            "example": "2025-06-01"
          },
          {
            "name": "to_date",
            "in": "query",
            "description": "Fecha de fin para los datos históricos en formato YYYY-MM-DD",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date",
              "default": "2025-10-10"
            },
            "example": "2025-06-15"
          },
          {
            "name": "adjusted",
            "in": "query",
            "description": "Si devolver precios ajustados por eventos corporativos",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "example": false
          }
        ],
        "responses": {
          "200": {
            "description": "Datos de precios históricos obtenidos exitosamente",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OHLCResponse"
                }
              }
            }
          },
          "500": {
            "description": "Error interno del servidor",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "type": "/errors/internal-server-error",
                  "title": "Internal server error",
                  "status": 500,
                  "detail": "Internal server error",
                  "correlation_id": "6cd1fd05-63e9-4863-832f-d873e58e9d67"
                }
              }
            }
          },
          "401": {
            "description": "No autorizado - token de acceso inválido o faltante",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "type": "/errors/authentication-required",
                  "title": "Authorization header missing",
                  "status": 401,
                  "detail": "Authorization header missing",
                  "correlation_id": "d6e20e07-0580-4e2d-9480-00a68c1ae493"
                }
              }
            }
          },
          "404": {
            "description": "Ticker no encontrado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "type": "/errors/not-found",
                  "title": "Resource not found",
                  "status": 404,
                  "detail": "Ticker not found"
                }
              }
            }
          },
          "422": {
            "description": "Parámetros de fecha inválidos",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "type": "/errors/http-error",
                  "title": "Start date cannot be after end date",
                  "status": 422,
                  "detail": "Start date cannot be after end date"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/bonds/analytics/{symbol}/cashflow": {
      "get": {
        "description": "Obtener el flujo de caja de un bono específico, incluyendo todos los pagos de capital e intereses",
        "tags": [
          "Bonds"
        ],
        "parameters": [
          {
            "name": "symbol",
            "in": "path",
            "description": "El símbolo del bono",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "AL30"
          },
          {
            "name": "nominal_units",
            "in": "query",
            "description": "Unidades nominales para el cálculo",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "example": 100
          }
        ],
        "responses": {
          "200": {
            "description": "Bond cashflow data successfully retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CashflowResponse"
                }
              }
            }
          },
          "500": {
            "description": "Error interno del servidor",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "type": "/errors/internal-server-error",
                  "title": "Internal server error",
                  "status": 500,
                  "detail": "Internal server error",
                  "correlation_id": "6cd1fd05-63e9-4863-832f-d873e58e9d67"
                }
              }
            }
          },
          "401": {
            "description": "No autorizado - token de acceso inválido o faltante",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "type": "/errors/authentication-required",
                  "title": "Authorization header missing",
                  "status": 401,
                  "detail": "Authorization header missing",
                  "correlation_id": "d6e20e07-0580-4e2d-9480-00a68c1ae493"
                }
              }
            }
          },
          "404": {
            "description": "Ticker no encontrado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "type": "/errors/not-found",
                  "title": "Resource not found",
                  "status": 404,
                  "detail": "Ticker not found"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/bonds/yields/{symbol}/historical": {
      "get": {
        "description": "Obtener datos intradiarios históricos de rendimiento de un bono específico",
        "tags": [
          "Bonds"
        ],
        "parameters": [
          {
            "name": "symbol",
            "in": "path",
            "description": "El símbolo del bono",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "AL30"
          },
          {
            "name": "from_date",
            "in": "query",
            "description": "Fecha de inicio del rango (YYYY-MM-DD)",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date",
              "default": "2025-01-10"
            },
            "example": "2025-01-01"
          },
          {
            "name": "to_date",
            "in": "query",
            "description": "Fecha de fin del rango (YYYY-MM-DD)",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date",
              "default": "2025-10-10"
            },
            "example": "2025-01-02"
          }
        ],
        "responses": {
          "200": {
            "description": "Datos de curva de rendimiento históricos obtenidos exitosamente",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HistoricalYieldsResponse"
                }
              }
            }
          },
          "500": {
            "description": "Error interno del servidor",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "type": "/errors/internal-server-error",
                  "title": "Internal server error",
                  "status": 500,
                  "detail": "Internal server error",
                  "correlation_id": "6cd1fd05-63e9-4863-832f-d873e58e9d67"
                }
              }
            }
          },
          "401": {
            "description": "No autorizado - token de acceso inválido o faltante",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "type": "/errors/authentication-required",
                  "title": "Authorization header missing",
                  "status": 401,
                  "detail": "Authorization header missing",
                  "correlation_id": "d6e20e07-0580-4e2d-9480-00a68c1ae493"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid parameters or data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "invalid_subasset_class": {
                    "summary": "Invalid subasset_class parameter",
                    "description": "When the subasset_class parameter contains an invalid value",
                    "value": {
                      "type": "/errors/http-error",
                      "title": "subasset_class: Value error, Invalid subasset_class 'FIXED_RATES'. Supported values: BOPREAL, CER, DOLLAR_LINKED, FIXED_RATE, HARD_DOLLAR, ON, ON_BADLAR, ON_DOLLAR_LINKED, ON_TAMAR, SUB_SOBERANO, SUB_SOBERANO_BADLAR, SUB_SOBERANO_CER",
                      "status": 400,
                      "detail": "subasset_class: Value error, Invalid subasset_class 'FIXED_RATES'. Supported values: BOPREAL, CER, DOLLAR_LINKED, FIXED_RATE, HARD_DOLLAR, ON, ON_BADLAR, ON_DOLLAR_LINKED, ON_TAMAR, SUB_SOBERANO, SUB_SOBERANO_BADLAR, SUB_SOBERANO_CER"
                    }
                  },
                  "future_date": {
                    "summary": "Historical date in the future",
                    "description": "When the date parameter is set to a future date",
                    "value": {
                      "type": "/errors/http-error",
                      "title": "date: Value error, Historical date must be in the past",
                      "status": 400,
                      "detail": "date: Value error, Historical date must be in the past"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/bonds/yields/{symbol}/intraday": {
      "get": {
        "description": "Obtener datos intradiarios de rendimiento de un bono específico",
        "tags": [
          "Bonds"
        ],
        "parameters": [
          {
            "name": "symbol",
            "in": "path",
            "description": "El símbolo del bono",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "AL30"
          }
        ],
        "responses": {
          "200": {
            "description": "Datos intradiarios obtenidos exitosamente",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IntradayYieldsPricesResponse"
                }
              }
            }
          },
          "401": {
            "description": "No autorizado - token de acceso inválido o faltante",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "type": "/errors/authentication-required",
                  "title": "Authorization header missing",
                  "status": 401,
                  "detail": "Authorization header missing",
                  "correlation_id": "d6e20e07-0580-4e2d-9480-00a68c1ae493"
                }
              }
            }
          },
          "404": {
            "description": "Ticker no encontrado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "type": "/errors/not-found",
                  "title": "Resource not found",
                  "status": 404,
                  "detail": "Ticker not found"
                }
              }
            }
          },
          "500": {
            "description": "Error interno del servidor",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "type": "/errors/internal-server-error",
                  "title": "Internal server error",
                  "status": 500,
                  "detail": "Internal server error",
                  "correlation_id": "6cd1fd05-63e9-4863-832f-d873e58e9d67"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/bonds/market-data/{symbol}/intraday": {
      "get": {
        "description": "Obtener datos intradiarios para un bono específico",
        "tags": [
          "Bonds"
        ],
        "parameters": [
          {
            "name": "symbol",
            "in": "path",
            "description": "El símbolo del bono",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "AL30"
          }
        ],
        "responses": {
          "200": {
            "description": "Datos intradiarios obtenidos exitosamente",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IntradayPricesResponse"
                }
              }
            }
          },
          "401": {
            "description": "No autorizado - token de acceso inválido o faltante",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "type": "/errors/authentication-required",
                  "title": "Authorization header missing",
                  "status": 401,
                  "detail": "Authorization header missing",
                  "correlation_id": "d6e20e07-0580-4e2d-9480-00a68c1ae493"
                }
              }
            }
          },
          "404": {
            "description": "Ticker no encontrado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "type": "/errors/not-found",
                  "title": "Resource not found",
                  "status": 404,
                  "detail": "Ticker not found"
                }
              }
            }
          },
          "500": {
            "description": "Error interno del servidor",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "type": "/errors/internal-server-error",
                  "title": "Internal server error",
                  "status": 500,
                  "detail": "Internal server error",
                  "correlation_id": "6cd1fd05-63e9-4863-832f-d873e58e9d67"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/bonds/instruments": {
      "get": {
        "description": "Listar instrumentos de bonos",
        "tags": [
          "Bonds"
        ],
        "parameters": [
          {
            "name": "sub_asset_class",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "DOLLAR_LINKED",
                "HARD_DOLLAR",
                "CER",
                "BOPREAL",
                "FIXED_RATE",
                "SUB_SOBERANO",
                "ON",
                "TAMAR",
                "BADLAR",
                "ON_FIXED_RATE",
                "ON_CER",
                "ON_BADLAR",
                "ON_TAMAR",
                "ON_DOLLAR_LINKED",
                "SUB_SOBERANO_FIXED_RATE",
                "SUB_SOBERANO_CER",
                "SUB_SOBERANO_BADLAR",
                "SUB_SOBERANO_TAMAR"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 50
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Listado de instrumentos de bonos",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InstrumentListResponse"
                }
              }
            }
          },
          "401": {
            "description": "No autorizado - token de acceso inválido o faltante",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "type": "/errors/authentication-required",
                  "title": "Authorization header missing",
                  "status": 401,
                  "detail": "Authorization header missing",
                  "correlation_id": "d6e20e07-0580-4e2d-9480-00a68c1ae493"
                }
              }
            }
          },
          "400": {
            "description": "Solicitud incorrecta - parámetros inválidos",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Error interno del servidor",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "type": "/errors/internal-server-error",
                  "title": "Internal server error",
                  "status": 500,
                  "detail": "Internal server error",
                  "correlation_id": "6cd1fd05-63e9-4863-832f-d873e58e9d67"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/bonds/instruments/{symbol}": {
      "get": {
        "description": "Obtener detalle de un instrumento de bono",
        "tags": [
          "Bonds"
        ],
        "parameters": [
          {
            "name": "symbol",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "AL30"
          }
        ],
        "responses": {
          "200": {
            "description": "Detalle del instrumento",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InstrumentDetailResponse"
                }
              }
            }
          },
          "401": {
            "description": "No autorizado - token de acceso inválido o faltante",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "type": "/errors/authentication-required",
                  "title": "Authorization header missing",
                  "status": 401,
                  "detail": "Authorization header missing",
                  "correlation_id": "d6e20e07-0580-4e2d-9480-00a68c1ae493"
                }
              }
            }
          },
          "404": {
            "description": "Ticker no encontrado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "type": "/errors/not-found",
                  "title": "Resource not found",
                  "status": 404,
                  "detail": "Ticker not found"
                }
              }
            }
          },
          "500": {
            "description": "Error interno del servidor",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "type": "/errors/internal-server-error",
                  "title": "Internal server error",
                  "status": 500,
                  "detail": "Internal server error",
                  "correlation_id": "6cd1fd05-63e9-4863-832f-d873e58e9d67"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/bonds/instruments/search": {
      "get": {
        "description": "Buscar instrumentos de bonos",
        "tags": [
          "Bonds"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resultados de búsqueda",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InstrumentsSearchResponse"
                }
              }
            }
          },
          "401": {
            "description": "No autorizado - token de acceso inválido o faltante",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "type": "/errors/authentication-required",
                  "title": "Authorization header missing",
                  "status": 401,
                  "detail": "Authorization header missing",
                  "correlation_id": "d6e20e07-0580-4e2d-9480-00a68c1ae493"
                }
              }
            }
          },
          "400": {
            "description": "Solicitud incorrecta - parámetros inválidos",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Error interno del servidor",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "type": "/errors/internal-server-error",
                  "title": "Internal server error",
                  "status": 500,
                  "detail": "Internal server error",
                  "correlation_id": "6cd1fd05-63e9-4863-832f-d873e58e9d67"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/cedears/instruments": {
      "get": {
        "description": "Listar instrumentos CEDEAR",
        "tags": [
          "CEDEARs"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 50
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Listado CEDEARs",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InstrumentListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/cedears/instruments/{symbol}": {
      "get": {
        "description": "Detalle de CEDEAR",
        "tags": [
          "CEDEARs"
        ],
        "parameters": [
          {
            "name": "symbol",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "AAPL"
          }
        ],
        "responses": {
          "200": {
            "description": "Detalle CEDEAR",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InstrumentDetailResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/cedears/instruments/search": {
      "get": {
        "description": "Buscar CEDEARs",
        "tags": [
          "CEDEARs"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resultados de búsqueda",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InstrumentsSearchResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/cedears/market-data/{symbol}/ohlc": {
      "get": {
        "description": "OHLC histórico de CEDEAR",
        "tags": [
          "CEDEARs"
        ],
        "parameters": [
          {
            "name": "symbol",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "AAPL"
          },
          {
            "name": "from_date",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date",
              "default": "2025-01-10"
            }
          },
          {
            "name": "to_date",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date",
              "default": "2025-10-10"
            }
          },
          {
            "name": "adjusted",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Datos OHLC",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OHLCResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/cedears/market-data/{symbol}/intraday": {
      "get": {
        "description": "Intraday CEDEAR",
        "tags": [
          "CEDEARs"
        ],
        "parameters": [
          {
            "name": "symbol",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "AAPL"
          }
        ],
        "responses": {
          "200": {
            "description": "Datos intradiarios",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IntradayPricesResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/stocks/instruments": {
      "get": {
        "description": "Listar instrumentos de acciones",
        "tags": [
          "Stocks"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 50
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Listado acciones",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InstrumentListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/stocks/instruments/{symbol}": {
      "get": {
        "description": "Detalle de acción",
        "tags": [
          "Stocks"
        ],
        "parameters": [
          {
            "name": "symbol",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "GGAL"
          }
        ],
        "responses": {
          "200": {
            "description": "Detalle acción",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InstrumentDetail"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/stocks/instruments/search": {
      "get": {
        "description": "Buscar acciones",
        "tags": [
          "Stocks"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resultados de búsqueda",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InstrumentsSearchResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/stocks/market-data/{symbol}/ohlc": {
      "get": {
        "description": "OHLC histórico de acción",
        "tags": [
          "Stocks"
        ],
        "parameters": [
          {
            "name": "symbol",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "GGAL"
          },
          {
            "name": "from_date",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date",
              "default": "2025-01-10"
            }
          },
          {
            "name": "to_date",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date",
              "default": "2025-10-10"
            }
          },
          {
            "name": "adjusted",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Datos OHLC",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OHLCResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/stocks/market-data/{symbol}/intraday": {
      "get": {
        "description": "Intraday acción",
        "tags": [
          "Stocks"
        ],
        "parameters": [
          {
            "name": "symbol",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "GGAL"
          }
        ],
        "responses": {
          "200": {
            "description": "Datos intradiarios",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IntradayPricesResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "AuthRequest": {
        "required": [
          "grant_type",
          "client_id",
          "client_secret"
        ],
        "type": "object",
        "properties": {
          "grant_type": {
            "description": "El tipo de concesión OAuth 2.0. Debe establecerse en client_credentials",
            "type": "string",
            "default": "client_credentials",
            "enum": [
              "client_credentials"
            ]
          },
          "client_id": {
            "description": "Tu identificador de cliente proporcionado por Docta Capital",
            "type": "string"
          },
          "client_secret": {
            "description": "Tu secreto de cliente proporcionado por Docta Capital",
            "type": "string"
          }
        }
      },
      "AuthResponse": {
        "required": [
          "access_token",
          "token_type",
          "expires_in",
          "scope"
        ],
        "type": "object",
        "properties": {
          "access_token": {
            "description": "El token de acceso a ser usado para solicitudes posteriores de la API",
            "type": "string"
          },
          "token_type": {
            "description": "El tipo de token. Será Bearer",
            "type": "string",
            "enum": [
              "Bearer"
            ]
          },
          "expires_in": {
            "description": "El número de segundos hasta que el token expire",
            "type": "integer"
          },
          "scope": {
            "description": "El alcance de acceso otorgado por este token",
            "type": "string"
          }
        }
      },
      "OHLCResponse": {
        "type": "object",
        "properties": {
          "ticker": {
            "type": "string",
            "description": "Símbolo del bono"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BondOHLCDataPoint"
            }
          },
          "from_date": {
            "type": "string",
            "format": "date"
          },
          "to_date": {
            "type": "string",
            "format": "date"
          },
          "adjusted": {
            "type": "boolean"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "required": [
          "ticker",
          "data",
          "from_date",
          "to_date",
          "adjusted",
          "metadata"
        ]
      },
      "IntradayDataPoint": {
        "type": "object",
        "properties": {
          "opening_price": {
            "type": "number",
            "format": "float"
          },
          "high_price": {
            "type": "number",
            "format": "float"
          },
          "low_price": {
            "type": "number",
            "format": "float"
          },
          "closing_price": {
            "type": "number",
            "format": "float"
          },
          "effective_volume": {
            "type": "number",
            "format": "float"
          },
          "trade_volume": {
            "type": "number",
            "format": "float"
          }
        },
        "required": [
          "opening_price",
          "high_price",
          "low_price",
          "closing_price",
          "effective_volume",
          "trade_volume"
        ]
      },
      "IntradayPricesResponse": {
        "type": "object",
        "properties": {
          "ticker": {
            "type": "string",
            "description": "Símbolo del bono"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IntradayDataPoint"
            }
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "required": [
          "ticker",
          "data",
          "metadata"
        ]
      },
      "IntradayYieldsDataPoint": {
        "type": "object",
        "properties": {
          "tir": {
            "type": "number",
            "format": "float"
          },
          "tna": {
            "type": "number",
            "format": "float",
            "nullable": true
          },
          "tna_30_360": {
            "type": "number",
            "format": "float",
            "nullable": true
          },
          "tem": {
            "type": "number",
            "format": "float",
            "nullable": true
          },
          "duration": {
            "type": "number",
            "format": "float",
            "nullable": true
          },
          "dtm": {
            "type": "integer",
            "nullable": true
          },
          "margen": {
            "type": "number",
            "format": "float",
            "nullable": true
          }
        },
        "required": [
          "tir"
        ]
      },
      "IntradayYieldsMetadata": {
        "type": "object",
        "properties": {
          "total_records": {
            "type": "integer"
          },
          "sub_asset_class": {
            "type": "string"
          },
          "pricing_source": {
            "type": "string"
          }
        },
        "required": [
          "total_records",
          "sub_asset_class",
          "pricing_source"
        ]
      },
      "IntradayYieldsPricesResponse": {
        "type": "object",
        "properties": {
          "ticker": {
            "type": "string"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IntradayYieldsDataPoint"
            }
          },
          "metadata": {
            "$ref": "#/components/schemas/IntradayYieldsMetadata"
          }
        },
        "required": [
          "ticker",
          "data",
          "metadata"
        ]
      },
      "HistoricalYieldsDataPoint": {
        "type": "object",
        "properties": {
          "date": {
            "type": "string",
            "format": "date",
            "description": "Fecha del dato (YYYY-MM-DD)"
          },
          "tir": {
            "type": "number",
            "format": "float",
            "description": "Tasa Interna de Retorno (decimal)"
          },
          "tna": {
            "type": "number",
            "format": "float",
            "description": "Tasa Nominal Anual (decimal)"
          },
          "tea": {
            "type": "number",
            "format": "float",
            "description": "Tasa Efectiva Anual (decimal)"
          },
          "tem": {
            "type": "number",
            "format": "float",
            "description": "Tasa Efectiva Mensual (decimal)"
          }
        },
        "required": [
          "date",
          "tir",
          "tna",
          "tea",
          "tem"
        ]
      },
      "HistoricalYieldsResponse": {
        "type": "object",
        "properties": {
          "ticker": {
            "type": "string",
            "description": "Símbolo del bono"
          },
          "data": {
            "type": "array",
            "description": "Serie histórica de rendimientos",
            "items": {
              "$ref": "#/components/schemas/HistoricalYieldsDataPoint"
            }
          },
          "from_date": {
            "type": "string",
            "format": "date",
            "description": "Fecha inicio del rango",
            "example": "2025-01-01"
          },
          "to_date": {
            "type": "string",
            "format": "date",
            "description": "Fecha fin del rango",
            "example": "2025-02-01"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "required": [
          "ticker",
          "data",
          "from_date",
          "to_date",
          "metadata"
        ]
      },
      "Error": {
        "required": [
          "type",
          "title",
          "status",
          "detail",
          "correlation_id"
        ],
        "type": "object",
        "properties": {
          "type": {
            "description": "El identificador del tipo de error",
            "type": "string",
            "example": "/errors/authentication-required"
          },
          "title": {
            "description": "Una breve descripción del error",
            "type": "string",
            "example": "Invalid client credentials"
          },
          "status": {
            "description": "El código de estado HTTP",
            "type": "integer",
            "example": 401
          },
          "detail": {
            "description": "Una descripción detallada del error",
            "type": "string",
            "example": "Invalid client credentials"
          },
          "correlation_id": {
            "description": "Un identificador único para rastrear esta solicitud de error",
            "type": "string",
            "format": "uuid",
            "example": "2eb07802-94de-468a-b70f-75a49f3e9516"
          }
        }
      },
      "InstrumentDetail": {
        "type": "object",
        "properties": {
          "ticker": {
            "type": "string",
            "description": "Símbolo del instrumento"
          },
          "name": {
            "type": "string",
            "description": "Nombre del instrumento"
          },
          "asset_class": {
            "type": "string",
            "description": "Clase de activo"
          },
          "sub_asset_class": {
            "type": "string",
            "description": "Sub-clase de activo",
            "nullable": true
          },
          "sector": {
            "type": "string",
            "nullable": true
          },
          "issuer": {
            "type": "string",
            "nullable": true
          },
          "law": {
            "type": "string",
            "nullable": true
          }
        },
        "required": [
          "ticker",
          "name",
          "asset_class",
          "sub_asset_class",
          "sector",
          "issuer",
          "law"
        ]
      },
      "InstrumentDetailFilters": {
        "type": "object",
        "properties": {
          "ticker": {
            "type": "string",
            "description": "Ticker filtrado"
          }
        },
        "required": [
          "ticker"
        ]
      },
      "InstrumentDetailResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/InstrumentDetail"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "filters": {
            "$ref": "#/components/schemas/InstrumentDetailFilters"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "required": [
          "data",
          "pagination",
          "filters",
          "metadata"
        ]
      },
      "InstrumentSummary": {
        "type": "object",
        "properties": {
          "ticker": {
            "type": "string",
            "description": "Símbolo del instrumento"
          },
          "asset_class": {
            "type": "string",
            "description": "Clase de activo"
          },
          "sub_asset_class": {
            "type": "string",
            "description": "Sub-clase de activo",
            "nullable": true
          }
        },
        "required": [
          "ticker",
          "asset_class",
          "sub_asset_class"
        ]
      },
      "InstrumentsFilters": {
        "type": "object",
        "properties": {
          "sub_asset_class": {
            "type": "string",
            "nullable": true,
            "description": "Filtro aplicado de sub-clase de activo"
          }
        },
        "required": [
          "sub_asset_class"
        ]
      },
      "InstrumentListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/InstrumentSummary"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "filters": {
            "$ref": "#/components/schemas/InstrumentsFilters"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "required": [
          "data",
          "pagination",
          "filters",
          "metadata"
        ]
      },
      "InstrumentsSearchResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/InstrumentSummary"
            }
          },
          "query": {
            "type": "string",
            "description": "Consulta de búsqueda utilizada"
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "required": [
          "data",
          "query",
          "pagination",
          "metadata"
        ]
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}